{% extends 'index.html' %} {% block details %}
<div class="viewdetails">
  <div class="details_block">
    <div class="deatils_header">
      <div class="back1">
        <a style="margin-left: 10px" href="/"
          ><ion-icon name="arrow-back-outline"></ion-icon
        ></a>
      </div>
      <select
        style="margin-right: 10px"
        onchange="perdevicedeatils(this)"
        name="TheDevice"
        id="deviceid"
      >
        <option value="404">All</option>
        {% for devicesdatas in Devices %}
        <option value="{{ devicesdatas.device_id }}">
          {{ devicesdatas.device_name }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="details_graph">
      <div class="prgraphtitle">
        <div id="mainweekday" class="transfer">Today's data</div>
        <div class="prbarhead">
          <div>
            <b
              ><button onclick="pertheweekchange()" id="weekorday">
                Daily weather
              </button></b
            >
          </div>
          <div>
            <button
              onclick="dateupdations(1,0)"
              id="submitBtnpre"
              name="updatedata"
            >
              Previous Day
            </button>
            <button
              onclick="dateupdations(2,0)"
              id="submitBtnnex"
              name="updatedata"
            >
              Next Day
            </button>
          </div>
        </div>

        <div id="prechartdata" class="perbarlabel"></div>
      </div>
      <div class="canvasdata2">
        <canvas height="6500" width="30000" id="pergraphdisplay"></canvas>
      </div>
      
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        delays = 5000;
        var k = 0;
        var perchart;
        device_names=[]
        device_icon = []
        symbols_data = []
        device_icon.push("")
        symbols_data.push("")

        "{% for hi in Device_data %}"
        device_names.push("{{ hi.Name }}")
        device_icon.push("{{ hi.Icon }}")
        symbols_data.push("{{ hi.Symbole }}")
      
        "{% endfor %}"

        function pertheweekchange() {
          thevalue = document.getElementById("weekorday");
          previousbutton = document.getElementById("submitBtnpre");
          nextbutton = document.getElementById("submitBtnnex");
          if (dorw == 1) {
            dorw = 0;
            thevalue.textContent = "Daily weather ";
            nextbutton.textContent = "Next Day";
            previousbutton.textContent = "Previous Day";
            if (thedatefor == lastdate2) {
              $("#mainweekday").text("Todays data");
            } else {
              $("#mainweekday").text(lastdate2);
            }
          } else {
            dorw = 1;
            thevalue.textContent = "Weekly weather";
            nextbutton.textContent = "Next week";
            previousbutton.textContent = "Previous week";
            $("#mainweekday").text("Weekly data");
          }
          perdevicedeatils(tempid, 1);
        }
        mch = 0;
        sch = 0;
        function pergraph(gradata, id) {
          const datasets = [];
          var selectElement = document.getElementById("deviceid");
          localStorage.setItem("tempid", tempid);
          selectElement.querySelector(
            "option[value='" + tempid + "']"
          ).selected = true;
          the_new_div = document.getElementById("prechartdata");
          the_new_div.innerHTML = "";
          newlabelarray = [];
          newitemarray = [];
          if (dorw == 1) {
            lastdate2 = gradata[6].date;
          }
          maxvalue = 0;
          maxvalue_date = "";
          maxvalue_symbol = "";
          maxvalue_device = "";
          if (id != 404) {
            mch = 0;
            const values = gradata.map((obj) => parseFloat(obj.value));
            const max = Math.max(...values);
            const min = Math.min(...values);
            themaxindex = values.indexOf(max);
            theminindex = values.indexOf(min);
            device_is = id;
            devicenameout = device_names[id - 1];
            symbol = gradata[themaxindex].symbol;
            maxvalue = gradata[themaxindex].value;
            maxvalue_date = gradata[themaxindex].date;
            //
            minvalue = gradata[theminindex].value;
            minvalue_date = gradata[theminindex].date;
            //
            sum = 0;
            for (k = 0; k < values.length; k++) {
              sum = sum + values[k];
            }
            avg = parseInt(sum / values.length);

            for (i = 0; i < gradata.length; i++) {
              const valdata = document.createElement("div");
              valdata.setAttribute("id", "pr" + i);
              valdata.classList.add("perval");
              const icons = document.createElement("ion-icon");
              icons.setAttribute("id", "rainic" + i);
              const dayst = document.createElement("div");
              dayst.setAttribute("id", "daystem" + i);
              valdata.appendChild(icons);
              valdata.appendChild(dayst);
              the_new_div.appendChild(valdata);
              $("#daystem" + i).text(gradata[i].value + gradata[i].symbol);
              var iconElement = document.getElementById("rainic" + i);
              iconElement.setAttribute("name", gradata[i].icons);
              if (dorw == 1) {
                newlabelarray[i] =
                  gradata[i].date.split("-")[1] +
                  "/" +
                  gradata[i].date.split("-")[2];
              } else {
                newlabelarray[i] = gradata[i].date;
              }
              newitemarray[i] = gradata[i].value;
            }
            let labels = newlabelarray;
            let itemdata = newitemarray;
            if (sch == 0) {
              if (perchart) {
                perchart.destroy();
              }
              datasets.push({
                data: itemdata,
                borderColor: "rgb(100, 180, 280)",
                fill: false,
                backgroundColor: "rgb(81, 159, 226)",
                tension: 0.15,
                borderWidth: 3,
              });
              const data = {
                labels: labels,
                datasets: datasets,
              };
              const config = {
                type: "line",
                data: data,
                options: {
                  scales: {
                    y: {
                      grid: {
                        color: "rgba(255, 255, 255, 0.1)",
                      },
                      ticks: {
                        color: "white",
                      },
                    },
                    x: {
                      grid: {
                        color: "rgba(255, 255, 255, 0.1)",
                      },
                      ticks: {
                        color: "white",
                      },
                    },
                  },
                  plugins: {
                    legend: {
                      display: false,
                    },
                    title: {
                      display: false,
                    },
                  },
                },
              };

              perchart = new Chart(
                document.getElementById("pergraphdisplay"),
                config
              );
              sch = 1;
            } else {
              perchart.data.labels = labels;
              perchart.data.datasets[0].data = itemdata;
              perchart.update();
            }
            topvaluesupdate(
              dorw,
              devicenameout,
              maxvalue,
              symbol,
              maxvalue_date,
              lastdate2,
              1,
              0,
              gradata[0].ID,
              avg
            );
            topvaluesupdate(
              dorw,
              devicenameout,
              minvalue,
              symbol,
              minvalue_date,
              lastdate2,
              0,
              0,
              gradata[0].ID,
              avg
            );
          } else {
            const thealign = document.createElement("div");
            thealign.classList.add("grdeta");
            sch = 0;
            maxdata = {};
            maxdata["Name"] = [];
            maxdata["Value"] = [];
            maxdata["Date"] = [];
            maxdata["symbol"] = [];
            mindata = {};
            mindata["Name"] = [];
            mindata["Value"] = [];
            mindata["Date"] = [];
            mindata["symbol"] = [];

            average = {};
            average["value"] = [];
            color_data = [];
            for (dr = 1; dr < 12; dr++) {
              tempmax = 0;

              temparray = [];
              dedata = "Device" + dr;
              const values = gradata.map((obj) => obj[dedata]);
              const max = Math.max(...values);
              const min = Math.min(...values);
              themaxindex = values.indexOf(max);
              theminindex = values.indexOf(min);
              maxdata["Name"][dr] = device_names[dr - 1];
              maxdata["Value"][dr] = gradata[themaxindex][dedata];
              maxdata["Date"][dr] = gradata[themaxindex].date;
              maxdata["symbol"][dr] = symbols_data[dr];
              //
              mindata["Name"][dr] = device_names[dr - 1];
              mindata["Value"][dr] = gradata[theminindex][dedata];
              mindata["Date"][dr] = gradata[theminindex].date;
              mindata["symbol"][dr] = symbols_data[dr];
              //
              sum = 0;
              for (k = 0; k < values.length; k++) {
                sum = sum + values[k];
              }
              average["value"][dr] = parseInt(sum / values.length);
            }

            for (let i = 1; i < 12; i++) {
              thedata = [];
              if (i != 8 && i != 10 && i != 5 && i != 3) {
                dedata = "Device" + i;
                for (dev = 0; dev < gradata.length; dev++) {
                  thedata[dev] = gradata[dev][dedata];
                }
                const thebox = document.createElement("div");
                thebox.classList.add("colord1");
                thebox.setAttribute("id", device_names[i - 1]);
                const iconbox = document.createElement("div");
                iconbox.classList.add("coloricon");
                const icons = document.createElement("ion-icon");
                icons.setAttribute("id", "coman" + i);
                const textbox = document.createElement("div");
                textbox.classList.add("colotext");
                textbox.setAttribute("id", "textbox" + i);
                iconbox.appendChild(icons);
                

                thebox.appendChild(iconbox);
                thebox.appendChild(textbox);
                thebox.onclick = function() {
                  checkvalue(1,tempid,dorw,lastdate2,0,i)

                };
                thealign.appendChild(thebox);
                var colors = `rgb(${Math.floor(Math.random() * 200) + 50}, ${Math.floor(Math.random() * 200) + 50}, ${Math.floor(Math.random() * 200) + 50})`;

                thebox.style.backgroundColor = colors;
                color_data[i] = colors;
                var color2;
                if (isLight(colors)) {
                  color2 = "black";
                } else {
                  var colors = `rgb(${Math.floor(Math.random() * 200) + 50}, ${Math.floor(Math.random() * 200) + 50}, ${Math.floor(Math.random() * 200) + 50})`;
                  color2 = "white";
                }
                textbox.style.color = color2;
                the_new_div.appendChild(thealign);
                icons.setAttribute("name", device_icon[i]);
                $("#textbox" + i).text(device_names[i - 1]);
                const alldata = thedata;
                if (i != 2) {
                  datasets.push({
                    label: device_names[i - 1],
                    data: alldata,
                    tension: 0.15,
                    borderColor: colors,
                    fill: false,
                    pointBackgroundColor: colors,
                    pointRadius: 3,
                    pointHoverRadius: 8,
                  });
                } else {
                  datasets.push({
                    label: device_names[i - 1],
                    data: alldata,
                    tension: 0.15,
                    borderColor: colors,
                    fill: false,
                    pointBackgroundColor: colors,
                    pointRadius: 3,
                    pointHoverRadius: 8,
                  });
                }
              }
            }
            for (k = 0; k < gradata.length; k++) {
              if (dorw == 1) {
                newlabelarray[k] =
                  gradata[k].date.split("-")[1] +
                  "/" +
                  gradata[k].date.split("-")[2];
              } else {
                newlabelarray[k] = gradata[k].date;
              }
            }
            labels = newlabelarray;
            if (mch == 0) {
              if (perchart) {
                perchart.destroy();
              }
              const data = {
                labels: labels,
                datasets: datasets,
              };
              const config = {
                type: "line",
                data: data,
                options: {
                  scales: {
                    y: {
                      grid: {
                        color: "rgba(255, 255, 255, 0.1)",
                      },
                      ticks: {
                        color: "white",
                      },
                    },
                    x: {
                      grid: {
                        color: "rgba(255, 255, 255, 0.1)",
                      },
                      ticks: {
                        color: "white",
                      },
                    },
                  },
                  plugins: {
                    legend: {
                      display: false,
                    },
                    title: {
                      display: false,
                    },
                  },
                },
              };

              perchart = new Chart(
                document.getElementById("pergraphdisplay"),
                config
              );
              mch = 1;
            } else {
              perchart.data.labels = labels;
              perchart.data.datasets = datasets;
              perchart.update();
            }
            updatemain(maxdata, mindata, average, color_data);
            alldevs = [0, 1, 2, 4, 6, 7, 9, 11];
            trar = parseInt(trar);
            if (trar > alldevs.length) {
              trar = alldevs.indexOf(trar);
            }
            datanew = alldevs[trar];
            topvaluesupdate(
              dorw,
              maxdata["Name"][datanew],
              maxdata["Value"][datanew],
              maxdata["symbol"][datanew],
              maxdata["Date"][datanew],
              lastdate2,
              1,
              1,
              1
            );
            topvaluesupdate(
              dorw,
              mindata["Name"][datanew],
              mindata["Value"][datanew],
              mindata["symbol"][datanew],
              mindata["Date"][datanew],
              lastdate2,
              0,
              1,
              1
            );
          }
          themecheck();
        }

        function isLight(color) {
          var match = color.match(/\d+/g);
          var color = match.map(Number);
          var luminance =
            (0.299 * color[0] + 0.587 * color[1] + 0.114 * color[2]) / 255;
          return luminance > 0.5;
        }
        perdevicedeatils(tempid, 1);
        theajax = 0;
        var tempdata;
        var timeoutId;
        var temp_date;
        function perdevicedeatils(val, ar) {
          if (timeoutId) {
            clearTimeout(timeoutId);
          }
          if (ar == 1) {
            de_id = val;
            tempid = val;
          } else {
            de_id = val.value;
            tempid = val.value;
          }
          if (de_id == 404) {
            $.ajax({
              url: "/alldevicedata/",
              method: "GET",
              data: { grdates: lastdate2, dorw: dorw },
              dataType: "json",
              success: function (data) {
                if (theajax == 0) {
                  tempdata = data;
                  temp_date = lastdate2;
                  theajax = 1;
                  pergraph(data, de_id);
                } else {
                  var areEqual =
                    JSON.stringify(tempdata) === JSON.stringify(data);
                  if (!areEqual || temp_date != lastdate2) {
                    tempdata = data;
                    temp_date = lastdate2;
                    pergraph(data, de_id);
                  }
                }
              },
              error: function (error) {
                console.error("Error fetching new date:", error);
              },
              complete: function () {
                timeoutId = setTimeout(function () {
                  perdevicedeatils(de_id, 1);
                }, 5000);
              },
            });
          } else {
            $.ajax({
              url: "/devicedata/",
              method: "GET",
              data: { theids: de_id, grdates: lastdate2, dorw: dorw },
              dataType: "json",
              success: function (data) {
                tempdata = data;
                pergraph(data, de_id);
              },
              error: function (error) {
                console.error("Error fetching new date:", error);
              },
              complete: function () {
                timeoutId = setTimeout(function () {
                  perdevicedeatils(de_id, 1);
                }, 5000);
              },
            });
          }
        }
        function dateupdations(val) {
          para = val;
          $.ajax({
            url: "/value_up/",
            method: "GET",
            data: { way: para, grdates: lastdate2, dorw: dorw },
            dataType: "json",
            success: function (data) {
              lastdate2 = data;
              if (dorw == 0) {
                if (thedatefor == lastdate2) {
                  $("#mainweekday").text("Todays data");
                } else {
                  $("#mainweekday").text(lastdate2);
                }
              }
              perdevicedeatils(tempid, 1);
            },
            error: function (error) {
              console.error("Error fetching new date:", error);
            },
          });
        }
        var canvas = document.getElementById("pergraphdisplay");
        var ctx = canvas.getContext("2d");
        function needchart() {
          return perchart;
        }
        function chartcolorchange() {
            perchart.options.scales.x.grid.color =perchart.options.scales.y.grid.color = "rgba(0, 0, 0, 0.07)";
            perchart.options.scales.x.ticks.color =perchart.options.scales.y.ticks.color = "black";
            perchart.update();
        }
        function setCanvasSize() {
          if (window.innerWidth < 700) {
            canvas.width = innerWidth * 52;
            canvas.height = innerWidth * 23;
          } else {
            if (window.innerWidth < 1250) {
              canvas.width = 18800;
              canvas.height = 2660;
            } else {
              canvas.width = 10800;
              canvas.height = 2060;
            }
          }
          if (window.innerHeight > 1600) {
            canvas.width = innerWidth * 52;
            canvas.height = innerWidth * 20;
          } else {
            if (window.innerHeight > 1000) {
              canvas.width = innerWidth * 62;
              canvas.height = innerWidth * 20;
            }
          }
        }
        setCanvasSize();
        window.addEventListener("resize", setCanvasSize);
      </script>
    </div>
  </div>
  <div style="width: 95%;  height: 40px; display: flex; align-items: center; justify-content: end; margin-top: 10px; "><a href="{% url 'calender' %}" style="margin-right: 20px; "><button style="height: 30px; width: 120px; font-size: 15px;cursor: pointer;" class="calender_button" >Calender View</button></a></div>
  <div class="otherdetails">
    <div onclick="checkvalue(0,tempid,dorw,lastdate2,this)" class="leftmov">
      <ion-icon id="arrowint" name="chevron-back-outline"></ion-icon>
    </div>
    <div class="theprdetailsbox">
      <div class="t2subhead">
        <b>Max Value Recorded</b>
      </div>
      <div class="t2body">
        <div
          onclick="checkvalue(0,tempid,dorw,lastdate2,this)"
          class="leftmovtemp"
        >
          <ion-icon id="arrowint" name="chevron-back-outline"></ion-icon>
        </div>
        <div class="valuesbo">
          <div id="max_data_name" class="bodytitle"></div>
          <div  class="bodybo"><p id="max_data_value"></p><p style="font-size: 24px; margin-left: 1px;" id="max_data_value_sy"></p></div>
          <div id="max_data_date" class="bodyfooter"></div>
        </div>
        <div
          onclick="checkvalue(1,tempid,dorw,lastdate2,this)"
          class="rigthmovtemp"
        >
          <ion-icon id="arrowint" name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </div>
    <div class="theprdetailsbox">
      <div class="t2subhead">
        <b>Average Value Recorded</b>
      </div>
      <div class="t2body">
        <div
          onclick="checkvalue(0,tempid,dorw,lastdate2,this)"
          class="leftmovtemp"
        >
          <ion-icon id="arrowint" name="chevron-back-outline"></ion-icon>
        </div>
        <div class="valuesbo">
          <div id="pre_name" class="bodytitle"></div>
          <div class="bodybo"><p id="pre_value"></p><p style="font-size: 24px; margin-left: 1px;" id="pre_value_sy"></p></div>
          <div id="pre_date" class="bodyfooter"></div>
        </div>
        <div
          onclick="checkvalue(1,tempid,dorw,lastdate2,this)"
          class="rigthmovtemp"
        >
          <ion-icon id="arrowint" name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </div>
    <div class="theprdetailsbox">
      <div class="t2subhead">
        <b>Min Value Recorded</b>
      </div>
      <div class="t2body">
        <div
          onclick="checkvalue(0,tempid,dorw,lastdate2,this)"
          class="leftmovtemp"
        >
          <ion-icon id="arrowint" name="chevron-back-outline"></ion-icon>
        </div>
        <div class="valuesbo">
          <div id="min_data_name" class="bodytitle"></div>
          <div class="bodybo"><p id="min_data_value"></p><p style="font-size: 24px; margin-left: 1px;" id="min_data_value_sy"></p></div>
          <div id="min_data_date" class="bodyfooter"></div>
        </div>
        <div
          onclick="checkvalue(1,tempid,dorw,lastdate2,this)"
          class="rigthmovtemp"
        >
          <ion-icon id="arrowint" name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </div>
    <div onclick="checkvalue(1,tempid,dorw,lastdate2,this)" class="rigthmov">
      <ion-icon id="arrowint" name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="limits_details">
    <div class="limits_data">
      <div class="limit_body">
        <div class="limit_header">
          <h5 id="til">Low</h5>
          <h6 id="lowdata">10-50</h6>
        </div>
        <div class="limit_newbody">
          <p id="lowtext"></p>
        </div>
      </div>
    </div>
    <div class="limits_data">
      <div class="limit_body">
        <div class="limit_header">
          <h5 id="tig">Good</h5>
          <h6 id="gooddata">10-50</h6>
        </div>
        <div class="limit_newbody">
          <p id="goodtext"></p>
        </div>
      </div>
    </div>
    <div class="limits_data">
      <div class="limit_body">
        <div class="limit_header">
          <h5 id="tim">Moderate</h5>
          <h6 id="moddata">10-50</h6>
        </div>
        <div class="limit_newbody">
          <p id="modtext"></p>
        </div>
      </div>
    </div>
    <div class="limits_data">
      <div class="limit_body">
        <div class="limit_header">
          <h5 id="tih">Unhealthy</h5>
          <h6 id="unhdata">10-50</h6>
        </div>
        <div class="limit_newbody">
          <p id="hightext"></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
