{% extends 'index.html' %} {% block details %}
<div class="viewdetails">
  <div class="details_block">
    <div class="deatils_header">
      <div class="back1">
        <a href="/"><ion-icon name="arrow-back-outline"></ion-icon></a>
      </div>
      <select onchange="perdevicedeatils(this)" name="TheDevice" id="deviceid">
        {% for devicesdatas in Devices %}
            <option value="{{ devicesdatas.device_id }}">{{ devicesdatas.device_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="details_graph">
      <div class="prgraphtitle">
        <div id="mainweekday" class="transfer">Weekly data</div>
        <div class="prbarhead">
          <div><b><button onclick="pertheweekchange()" id="weekorday">Weekly weather</button></b></div>
          <div>
            <button onclick="dateupdations(1,0)" id="submitBtnpre" name="updatedata">
              Previous week
            </button>
            <button onclick="dateupdations(2,0)" id="submitBtnnex" name="updatedata">
              Next week
            </button>
          </div>
        </div>

        <div id="prechartdata" class="perbarlabel">
          
        </div>
      </div>
      <div class="canvasdata">
        <canvas height="4500" width="30000" id="pergraphdisplay"></canvas>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        var k = 0;
        var perchart;
        function pertheweekchange(){
          
          thevalue=document.getElementById("weekorday")
          previousbutton=document.getElementById("submitBtnpre")
          nextbutton=document.getElementById("submitBtnnex")
          if(dorw==1){dorw=0
            thevalue.textContent="Daily weather "
            nextbutton.textContent="Next Day"
            previousbutton.textContent="Previous Day"
            $('#mainweekday').text(lastdate2);
          }
          else{dorw=1
            thevalue.textContent="Weekly weather"
            nextbutton.textContent="Next week"
            previousbutton.textContent="Previous week"
            $('#mainweekday').text("Weekly data");
          }
          perdevicedeatils(tempid,1)
        }
        
        function pergraph(gradata) {
          the_new_div=document.getElementById('prechartdata')
          the_new_div.innerHTML = '';
          newlabelarray = [];
          newitemarray = [];
          if(dorw==1)
            {lastdate2=gradata[6].date;}
          maxvalue=0;
          if(dorw==1){li=7}
          else{li=8}
          for (i = 0; i < li; i++) {

            const valdata = document.createElement("div");
            valdata.setAttribute("id", 'pr'+i);
            valdata.classList.add("perval");
            const icons = document.createElement("ion-icon");
            icons.setAttribute("id", 'rainic'+i);
            const dayst = document.createElement("div");
            dayst.setAttribute("id", 'daystem'+i);
            valdata.appendChild(icons);
            valdata.appendChild(dayst);
            the_new_div.appendChild(valdata);


            if(gradata[i].value>maxvalue){maxvalue=gradata[i].value}
            $("#daystem" + i).text(gradata[i].value + gradata[i].symbol);
            var iconElement = document.getElementById("rainic" + i);
            iconElement.setAttribute("name", gradata[i].icons);
            document.getElementById("pr" + i).style.backgroundColor=gradata[i].color;
            if(dorw==1)
            {newlabelarray[i]=gradata[i].date.split('-')[1]+"/"+gradata[i].date.split('-')[2];}
            else{newlabelarray[i]=gradata[i].date}
            newitemarray[i]=gradata[i].value;
          }
          $("#maxvalue").text(maxvalue + "°");
          let labels = newlabelarray;
          let itemdata = newitemarray;
          if (k == 0) {
            const data = {
              labels: labels,
              datasets: [
                {
                  data: itemdata,
                  borderColor: "rgb(100, 180, 280)",
                  fill: true,
                  backgroundColor: "rgb(81, 159, 226)",
                  tension: 0.15,
                  borderWidth: 3,
                },
              ],
            };
            const config = {
              type: "line",
              data: data,
              options: {
                plugins: {
                  legend: {
                    display: false,
                  },
                  title: {
                    display: false,
                  },
                },
              },
            };

            perchart = new Chart(
              document.getElementById("pergraphdisplay"),
              config
            );
            k++;
          } else {
            perchart.data.labels = labels;
            perchart.data.datasets[0].data = itemdata;
            perchart.update();
          }
        }
        
        perdevicedeatils(tempid,1);
        function perdevicedeatils(val,ar) {
          
            if(ar == 1)
            {
                de_id=val
                tempid=val
            }
            else{
                de_id=val.value
                tempid=val.value
            }
               $.ajax({
                   url: '/devicedata/',
                   method: 'GET',
                   data: { 'theids': de_id ,'grdates': lastdate2,'dorw':dorw }, 
                   dataType: 'json',
                   success: function (data) {
                       pergraph(data)
                   },
                   error: function (error) {
                       console.error('Error fetching new date:', error);
                   },
               });
               
           }
           function dateupdations(val) {
               para=val
               $.ajax({
                   url: '/value_up/',
                   method: 'GET',
                   data: { 'way': para,
                            'grdates': lastdate2,'dorw':dorw }, 
                   dataType: 'json',
                   success: function (data) {
                    lastdate2=data
                    if(dorw==0){$('#mainweekday').text(lastdate2);}
                    perdevicedeatils(tempid,1);
                   },
                   error: function (error) {
                       console.error('Error fetching new date:', error);
                   },
               });
           }


        /*var canvas = document.getElementById('pergraphdisplay');
                    var ctx = canvas.getContext('2d');
                    
                    function setCanvasSize() {
                        if(window.innerWidth<700)
                        {
                            canvas.width = innerWidth*52;  
                            canvas.height=innerWidth*20
                        }
                        else{
                            if(window.innerWidth<1250)
                            {
                                canvas.width = 18800;  
                                canvas.height=2660
                            }
                            else{
                                canvas.width = 10800;  
                                canvas.height=2060
                            }
                        }
                        if(window.innerHeight>1600)
                        {
                            canvas.width = innerWidth*52;  
                            canvas.height=innerWidth*20
                        }
                        else{
                            if(window.innerHeight>1000)
                            {
                                canvas.width = innerWidth*62;  
                                canvas.height=innerWidth*20
                            }
                        }
                        
                    }
                    setCanvasSize();
                    window.addEventListener('resize', setCanvasSize);*/
      </script>
    </div>
  </div>
  <div class="otherdetails">
    <div id="maxvalue" class="theprdetailsbox"></div>
    <div class="theprdetailsbox"></div>
    <div class="theprdetailsbox"></div>
  </div>
</div>
{% endblock %}
