<html>
    <head>
        {% load static %}
        <title>Weather</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="icon" href="{% static 'rain.png' %}">
        <script src="{% static 'newjs.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    </head>
    <body>
        <script>
            var today = new Date();
            var thedatefor = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
            var lastdate1=thedatefor;
            var lastdate2=thedatefor;
            var dayvalue=thedatefor
            var dorw=1;
            
            
        </script>
        <div class="main">
            <div class="temperature">
                <div class="thead">
                    <div class="sun">
                    </div>
                </div>
                <div class="shead">
                    <table>
                        <tr>
                            <td id="todaydate">
                                Today 
                            </td>
                            <td id="todaytime">
                               0
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tmep">
                    <div id="todayTemperature">0°</div>
                </div>
                <div class="base">
                    <img src="{% static 'Backgroundicon.png' %}" alt="">
                </div>

            </div>
            {% block details %}
            <div class="details">
                <div class="details_head">
                    <div>
                        <div><b>Welcome to weather station</b></div>
                        <div>Check out Today's weather information</div>
                    </div>
                </div>
                <div class="details_div1">
                    <div>
                        <div class="graphtitle">
                            <div id="mainweekday" class="transfer">Weekly data</div>
                            <div class="barhead">
                                <div><b> <button onclick="theweekchange()" id="weekorday">Weekly weather</button></b></div>
                                <div><button onclick="dateupdations(1)" id='submitBtnpre' name='updatedata'>Previous week</button>
                                    <button onclick="dateupdations(2)" id='submitBtnnex' name='updatedata'>Next week</button></div>
                            </div>
                            <div id="thegrlabel" class="barlabel">
                                
                            </div>
                        </div>
                        <div class="canvasdata">
                            <canvas id="graphdisplay" ></canvas>
                        </div>
                    </div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                    var k=0
                    var chart
                    function graph(gradata)
                    {
                        themaingraphlabel=document.getElementById('thegrlabel')
                        themaingraphlabel.innerHTML = '';
                        newlabelarray=[];
                        newitemarray=[];
                        if(dorw==1)
                        {lastdate1=gradata[6].date;}
                        
                        if(dorw==1){li=7}
                        else{li=8}
                        for(i=0;i<li;i++){
                            const valdata = document.createElement("div");
                            valdata.classList.add("val");
                            const icons = document.createElement("ion-icon");
                            icons.setAttribute("id", 'rainic'+i);
                            const dayst = document.createElement("div");
                            dayst.setAttribute("id", 'daystem'+i);
                            valdata.appendChild(icons);
                            valdata.appendChild(dayst);
                            themaingraphlabel.appendChild(valdata);
                            if(gradata[i].value1==0){$('#daystem'+i).text("---");}
                            else{$('#daystem'+i).text(gradata[i].value1+"°");}
                            
                            var iconElement = document.getElementById('rainic'+i);
                            iconElement.setAttribute('name', gradata[i].value2);
                            if(dorw==1)
                            {newlabelarray[i]=gradata[i].date.split('-')[1]+"/"+gradata[i].date.split('-')[2];}
                            else{newlabelarray[i]=gradata[i].date}
                            
                            newitemarray[i]=gradata[i].value1;
                        }
                        let labels = newlabelarray
                        let itemdata = newitemarray
                        if(k==0)
                        {
                            const data = {
                                labels: labels,
                                datasets: [{
                                    data: itemdata,
                                    borderColor: 'rgb(100, 180, 280)',
                                    fill: true,
                                    backgroundColor: "rgb(81, 159, 226)",
                                    tension: 0.15,
                                    borderWidth: 3
                                }]
                            };
                            const config = {
                                type: 'line',
                                data: data,
                                options: {
                                    plugins: {
                                        legend: {
                                            display: false
                                        },
                                        title: {
                                            display: false,
                                        }
                                    }
                                }
                            };
                            
                                chart = new Chart(
                                    document.getElementById('graphdisplay'),
                                    config
                                );
                                k++
                        }
                        else{
                            chart.data.labels = labels;
                            chart.data.datasets[0].data = itemdata;
                            chart.update()
                        }
                    }
                    
                    var canvas = document.getElementById('graphdisplay');
                    var ctx = canvas.getContext('2d');
                    
                    function setCanvasSize() {
                        if(window.innerWidth<700)
                        {
                            canvas.width = innerWidth*52;  
                            canvas.height=innerWidth*20
                        }
                        else{
                            if(window.innerWidth<1250)
                            {
                                canvas.width = 18800;  
                                canvas.height=2660
                            }
                            else{
                                canvas.width = 10800;  
                                canvas.height=2060
                            }
                        }
                        if(window.innerHeight>1600)
                        {
                            canvas.width = innerWidth*52;  
                            canvas.height=innerWidth*20
                        }
                        else{
                            if(window.innerHeight>1000)
                            {
                                canvas.width = innerWidth*62;  
                                canvas.height=innerWidth*20
                            }
                        }
                        
                    }
                    setCanvasSize();
                    window.addEventListener('resize', setCanvasSize);
                    function theweekchange(){
                        thevalue=document.getElementById("weekorday")
                        previousbutton=document.getElementById("submitBtnpre")
                        nextbutton=document.getElementById("submitBtnnex")
                        if(dorw==1){dorw=0
                            thevalue.textContent="Daily weather "
                            nextbutton.textContent="Next Day"
                            previousbutton.textContent="Previous Day"
                            $('#mainweekday').text(lastdate1);
                        }
                        else{dorw=1
                            thevalue.textContent="Weekly weather"
                            nextbutton.textContent="Next week"
                            previousbutton.textContent="Previous week"
                            $('#mainweekday').text("Weekly data");
                        }
                        graphupdates()
                    }
                </script>
                
                <div class="details_div2">
                    <input  id="thedatevalue" type="date" onchange="inputdataupdate()">
                    <div class="subdetails">
                        <div>
                            <div>
                                <div class="humditytitle">
                                    <b>Humidity</b>
                                    <div class="icon" onclick="nextpagedata(1)"><b><ion-icon name="cloud-outline"></ion-icon></b></div>
                                </div>
                                <div class="humdity">
                                    <b id="humidity">0%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="humiditybar" ></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="temperaturetitle">
                                    <b>Temperature</b>
                                    <div id="ticon" class="icon" onclick="nextpagedata(2)"><b><ion-icon id="tempwarningicon" name="thermometer-outline"></ion-icon></b></div>
                                </div>
                                <div class="temperatured">
                                    <b id="Temperature">0°</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0°</div>
                                        <div style="justify-content: center;">50°</div>
                                        <div style="justify-content: end;">100°</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="Temperaturebar"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="raintitle">
                                    <b >Chance of Rain</b>
                                    <div class="icon" id="rainicon" onclick="nextpagedata(5)">
                                        <b><ion-icon id="rainnew" name="sunny-outline"></ion-icon></b></div>
                                </div>
                                <div class="rain">
                                    <b id="rain">0%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="rainbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="windtitle">
                                    <b >Wind Speed</b>
                                    <div class="icon" id="windicon" onclick="nextpagedata(6)">
                                        <b><ion-icon name="speedometer-outline"></ion-icon></b>
                                    </div>
                                </div>
                                <div class="wind">
                                    <div class="speedar">
                                        <div class="windpower">
                                            <div id="powerhigh1" class="windpowersub">
                                            </div>
                                        </div>
                                        <div id="ficr" class="speedarcir">
                                            <div id="scecr" class="seccirlcle">
                                                <div class="speedararrowco" id="windbar">
                                                    <div id="wibar" class="speed1"></div>
                                                </div>
                                                <div class="speed2"></div>
                                            </div>
                                        </div>    
                                        <div class="windpower">
                                            <div id="powerhigh2" class="windpowersub">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="speedar2" ><b id="winds">0km/h</b></div>
                                </div>
                            </div>
                            <div >
                                <div class="windirtitle">
                                    <b>Wind Direction</b>
                                    <div class="icon" onclick="nextpagedata(10)"><b><ion-icon name="compass-outline"></ion-icon></b></div>
                                </div>
                                <div class="wibr">
                                    <div class="dirdata"><table style="text-align: center;">
                                        <tr>
                                            <td id="topdir"></td>
                                        </tr>
                                        <tr >
                                            <td><ion-icon  name="arrow-up-outline"></ion-icon></td>
                                        </tr>
                                        <tr>
                                            <td id="bottomdir"></td>
                                        </tr>
                                    </table></div>
                                    <div class="dircir">
                                        <div id="dirwbar" class="dirarrow"></div>
                                    </div>
                                    <div class="dirdata">
                                        <div class="valuewind" id="winddeg"></div>
                                        <div class="valuewind2" id="windsp"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="atmtitle">
                                    <b >Atmospheric Pressure</b>
                                    <div class="icon" id="atmicon" onclick="nextpagedata(8)">
                                        <b><ion-icon name="contract-outline"></ion-icon></b></div>
                                </div>
                                <div class="atm">
                                    <div class="speedar">
                                        <div class="windpower">
                                            <div id="powerhigh3" class="windpowersub">
                                            </div>
                                        </div>
                                        <div id="ficr2" class="speedarcir">
                                            <div  id="scecr2" class="seccirlcle2">
                                                <div  class="speedararrowco" id="atmbar">
                                                    <div class="speed1"></div>
                                                </div>
                                                <div class="speed2"></div>
                                            </div>
                                        </div>    
                                        <div class="windpower">
                                            <div id="powerhigh4" class="windpowersub">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="speedar2" ><b id="atmdata">0hPa</b></div>
                                </div>
                            </div>
                            
                        </div>
                        <div>
                            <div>
                                <div class="no2title">
                                    <b>NO² Presents</b>
                                    <div class="icon" id="no2icon" onclick="nextpagedata(7)"><b><ion-icon name="logo-electron"></ion-icon></b></div>
                                </div>
                                <div class="no2">
                                    <b id="no2">0%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="no2bar"></div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div>
                                <div class="co2title">
                                    <b>CO² Presents</b>
                                    <div class="icon" id="co2icon" onclick="nextpagedata(4)"><b><ion-icon id="co2warningicon" name="warning-outline"></ion-icon></b></div>
                                </div>
                                <div class="co2">
                                    <b id="co2">0%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="co2bar"></div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="uvtitle">
                                    <b>UV Sensor</b>
                                    <div class="icon" id="co2icon" onclick="nextpagedata(9)"><b><ion-icon name="warning-outline"></ion-icon></b></div>
                                </div>
                                <div class="uvs">
                                    <b id="uvs">0%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="uvsbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="soundtitle">
                                    <b>Sound</b>
                                    <div class="icon" onclick="nextpagedata(3)"><b><ion-icon name="volume-high-outline"></ion-icon></b></div>
                                </div>
                                <div class="sound">
                                    <b id="Sound">0%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="Soundbar" ></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div>
                                <div class="airqtitle">
                                    <b>Air Quality</b>
                                    <div class="icon" onclick="nextpagedata(11)">
                                        <b><ion-icon name="balloon"></ion-icon></b></div>
                                </div>
                                <div class="airq">
                                    <b id="airq">0%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="airqbar"></div>
                                    </div>
                                </div>
                            </div>
                            <a href="details"><div style="display: flex; flex-direction: row; align-items: center; justify-content: center; font-size: 25px;">More details<ion-icon name="arrow-forward-outline"></ion-icon></div></a>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        <script>
            widtempdir=-1;
            delays=5000;
            barcount=0;
            barcount2=0;
            document.getElementById('thedatevalue').value=dayvalue;
            var onbar1=onbar2="5px solid rgb(6, 116, 212)"
            var offbar1=offbar2="5px solid rgb(194, 194, 194)"
            function fulldata(data) {
                humidityValue = data[0].device_values;
                $('#humidity').text(humidityValue+"%");
                document.getElementById('humiditybar').style.width =  humidityValue+"%";
                if(humidityValue >= "60"){document.getElementById('humiditybar').style.backgroundColor="red";}
                else if(humidityValue >= "30"){document.getElementById('humiditybar').style.backgroundColor="orange";}
                else if(humidityValue >= "15"){document.getElementById('humiditybar').style.backgroundColor="rgb(81, 159, 226)";}
                else {document.getElementById('humiditybar').style.backgroundColor="rgb(3, 209, 255)";}
                

                var temperatureValue = data[1].device_values;
                $('#Temperature').text(temperatureValue+"°");
                document.getElementById('Temperature').style.color="black";
                var tempbarwar = document.getElementById('Temperaturebar');
                if (tempbarwar.classList.contains('warning')) {
                    tempbarwar.classList.remove('warning');
                }
                document.getElementById('Temperaturebar').style.width =  temperatureValue+"%";
                if(temperatureValue >= "60"){document.getElementById('Temperaturebar').style.backgroundColor="red";
                tempbarwar.classList.add("warning");
                document.getElementById('ticon').style.backgroundColor="red";
                document.getElementById('Temperature').style.color="red"}
                else if(temperatureValue >= "30"){document.getElementById('Temperaturebar').style.backgroundColor="orange";
                document.getElementById('ticon').style.backgroundColor="orange";}
                else if(temperatureValue >= "15"){document.getElementById('Temperaturebar').style.backgroundColor="rgb(81, 159, 226)";
                document.getElementById('ticon').style.backgroundColor="rgb(81, 159, 226)";}
                else {document.getElementById('Temperaturebar').style.backgroundColor="rgb(3, 209, 255)";
                document.getElementById('ticon').style.backgroundColor="rgb(3, 209, 255)";}

                
                var soundValue = data[2].device_values;
                $('#Sound').text(soundValue+"%");
                document.getElementById('Soundbar').style.width =  soundValue+"%";
                if(soundValue >= "60"){document.getElementById('Soundbar').style.backgroundColor="rgb(255, 53, 53)";}
                else if(soundValue >= "30"){document.getElementById('Soundbar').style.backgroundColor="orange";}
                else if(soundValue >= "15"){document.getElementById('Soundbar').style.backgroundColor="rgb(81, 159, 226)";}
                else {document.getElementById('Soundbar').style.backgroundColor="rgb(3, 209, 255)";}


                var co2Value = data[3].device_values;
                document.getElementById('co2').style.color="black"
                $('#co2').text(co2Value+"%");
                document.getElementById('co2bar').style.width =  co2Value+"%";
                var co2WarningIcon = document.getElementById('co2bar');
                if (co2WarningIcon.classList.contains('warning')) {co2WarningIcon.classList.remove('warning');}
                if(co2Value >= "20"){
                co2WarningIcon.classList.add('warning');
                document.getElementById('co2bar').style.backgroundColor="rgb(255, 53, 53)";
                document.getElementById('co2').style.color="rgb(255, 53, 53)";
                document.getElementById('co2icon').style.backgroundColor="rgb(255, 53, 53)"}
                else if(co2Value >= "5"){document.getElementById('co2bar').style.backgroundColor="orange";
                document.getElementById('co2icon').style.backgroundColor="orange"}
                else if(co2Value >= "2" && co2Value <= "4"){document.getElementById('co2bar').style.backgroundColor="rgb(81, 159, 226)";
                document.getElementById('co2icon').style.backgroundColor="rgb(81, 159, 226)"}
                else {document.getElementById('co2bar').style.backgroundColor="rgb(3, 209, 255)";
                document.getElementById('co2icon').style.backgroundColor="violet"
                document.getElementById('co2icon').style.color="white"}


                var rainValue = data[4].device_values;
                $('#rain').text(rainValue+"%");
                document.getElementById('rainbar').style.width =  rainValue+"%";
                if(rainValue > "50"){document.getElementById('rainbar').style.backgroundColor="rgb(0, 255, 174)";
                document.getElementById('rainicon').style.backgroundColor="rgb(0, 255, 174)";
                document.getElementById('rainicon').style.color="black"}
                else if(rainValue < "50"){document.getElementById('rainbar').style.backgroundColor="yellow";
                document.getElementById('rainicon').style.color="black"
                document.getElementById('rainicon').style.backgroundColor="yellow"}
                else {document.getElementById('rainbar').style.backgroundColor="rgb(81, 159, 226)";
                document.getElementById('rainicon').style.backgroundColor="rgb(81, 159, 226)";
                document.getElementById('rainicon').style.color="white"}
                var iconElement = document.getElementById('rainnew');
                if(rainValue >= "75"){iconElement.setAttribute('name', 'rainy-outline');}
                else if(rainValue >= "50"){iconElement.setAttribute('name', 'cloudy-outline');}
                else if(rainValue >= "30"){iconElement.setAttribute('name', 'partly-sunny-outline');}
                else {iconElement.setAttribute('name', 'sunny-outline');}
                
                var windValue = data[5].device_values;
                per=(180/30)*windValue;
                var windarrow = document.getElementById('windbar');
                if (windarrow.classList.contains('speedwarning')) {windarrow.classList.remove('speedwarning');}
                if(per<=0){per=0}
                else if(per>=180){per=180}
                $('#winds').text(windValue+"km/h");
                if(windValue>18){windarrow.classList.add('speedwarning');}
                document.getElementById('windicon').style.color="white";
                document.getElementById('windbar').style.transform =  "rotate("+per+"deg)";
                tr1=per-45
                var levels1=document.getElementById('ficr')
                levels1.style.transform =  "rotate("+tr1+"deg)";
                document.getElementById('scecr').style.transform =  "rotate("+(tr1*-1)+"deg)";

                if(windValue>=25)
                {document.getElementById('windicon').style.backgroundColor="red";
                levels1.style.borderBottom = onbar1;
                levels1.style.borderRight = onbar1;}
                else if(windValue>12){document.getElementById('windicon').style.backgroundColor="orange";
                levels1.style.borderBottom = onbar1;
                levels1.style.borderRight = offbar1;}
                else{ document.getElementById('windicon').style.backgroundColor="rgb(0, 255, 174)";
                levels1.style.borderBottom = offbar1;
                levels1.style.borderRight = offbar1;
                document.getElementById('windicon').style.color="black";}
                if(barcount!=windValue)
                {   document.getElementById('powerhigh1').innerHTML = '';
                    document.getElementById('powerhigh2').innerHTML = '';
                    barcount = windValue;
                    createWindLevels(0,windValue);}


                var no2Value = data[6].device_values;
                $('#no2').text(no2Value+"%");
                document.getElementById('no2bar').style.width =  no2Value+"%";
                if(no2Value >= "20"){document.getElementById('no2bar').style.backgroundColor="rgb(255, 53, 53)";}
                else if(no2Value >= "10"){document.getElementById('no2bar').style.backgroundColor="orange";}
                else if(no2Value >= "5"){document.getElementById('no2bar').style.backgroundColor="rgb(81, 159, 226)";}
                else {document.getElementById('no2bar').style.backgroundColor="rgb(3, 209, 255)";}


                var atmValue = data[7].device_values;
                $('#atmdata').text(atmValue+"hPa");
                thepsvalue = ((atmValue - 300) / (1100 - 300)) * (180 - 0) + 0;
                if(thepsvalue<=0){thepsvalue=0}
                else if(thepsvalue>=180){thepsvalue=180}
                document.getElementById('atmbar').style.transform =  "rotate("+thepsvalue+"deg)";
                tr2=thepsvalue-45;
                var levelbar2=document.getElementById('ficr2')
                levelbar2.style.transform =  "rotate("+tr2+"deg)";
                document.getElementById('scecr2').style.transform =  "rotate("+(tr2*-1)+"deg)";
                if(barcount2!=atmValue)
                {   document.getElementById('powerhigh3').innerHTML = '';
                    document.getElementById('powerhigh4').innerHTML = '';
                    barcount2 = atmValue;
                    if(atmValue<900){createatmLevels(0,atmValue,1);}
                    else{createatmLevels(900,atmValue,0);}
                }
                    
                if(atmValue>=1013){
                    levelbar2.style.borderBottom = onbar2;
                    levelbar2.style.borderRight = onbar2;
                    
                }
                else if(atmValue>=980){
                    levelbar2.style.borderBottom = onbar2;
                    levelbar2.style.borderRight = offbar2;
                }
                else{
                    if(atmValue>=1100/2)
                    {
                        levelbar2.style.borderBottom = onbar2;
                        levelbar2.style.borderRight = offbar2;
                    }
                    else{levelbar2.style.borderBottom = offbar2;
                    levelbar2.style.borderRight = offbar2;}}


                var uvrays = data[8].device_values;
                $('#uvs').text(uvrays+"%");
                document.getElementById('uvsbar').style.width =  uvrays+"%";
                if(uvrays>=40){
                    document.getElementById('uvsbar').style.backgroundColor="red";
                }
                else{
                    document.getElementById('uvsbar').style.backgroundColor="rgb(81, 159, 226)";
                }


                var winddir = data[9].device_values;
                if(widtempdir!=winddir)
                {                
                    widtempdir=winddir;
                    winddir=winddir%360;
                    document.getElementById('dirwbar').style.transform =  "rotate("+(winddir+90)+"deg)";

                    if(winddir==0){from="S";to="N";  }
                    else if(winddir==90){from="W";to="E"; }
                    else if(winddir==180){from="N";to="S";}
                    else if(winddir==270){from="E";to="W";}
                    else{
                        if(winddir<90){from="SW";to="NE";}
                        else if(winddir<180){from="NW";to="SE";}
                        else if(winddir<270){from="NE";to="SW";}
                        else if(winddir<360){from="SE";to="NW";}
                    }
                    $('#bottomdir').text(from);
                    $('#topdir').text(to);
                    $('#winddeg').text(winddir+"° "+to);
                    $('#windsp').text(windValue+" km/h");
                }

                var air = data[10].device_values;
                $('#airq').text(air+"%");
                document.getElementById('airqbar').style.width =  air+"%";
                
            }

            


            function createWindLevels(i,windValue) {
                let divcolor;
            
                if (i < windValue && i<30) {
                    const newDiv1 = document.createElement("div");
                    const newDiv2 = document.createElement("div");
                    newDiv1.classList.add("windlevel");
                    newDiv2.classList.add("windlevel");
                    doc1p=document.getElementById('powerhigh1');
                    doc2p=document.getElementById('powerhigh2');
                    if (i < 12) {
                        divcolor = "rgb(0, 255, 170)";
                    } else if (i < 18) {
                        divcolor = "orange";
                    } else {
                        divcolor = "red";
                    }
            
                    newDiv1.style.backgroundColor = divcolor;
                    newDiv2.style.backgroundColor = divcolor;
            
                    doc1p.appendChild(newDiv1);
                    doc2p.appendChild(newDiv2);
                    setTimeout(() => createWindLevels(i + 3,windValue), 200);
                }
            }
            function createatmLevels(i,atmValue,k) {
                let divcolor;
                if(k==0)
                {
                    if (i < atmValue && i<1100) {
                        const newDiv1 = document.createElement("div");
                        const newDiv2 = document.createElement("div");
                        newDiv1.classList.add("atmlevel");
                        newDiv2.classList.add("atmlevel");
                
                        if (i <= 940) {
                            divcolor = "orange";
                        } else if (i < 1013) {
                            divcolor = "rgb(0, 255, 170)";
                        } else {
                            divcolor = "red";
                        }
                
                        newDiv1.style.backgroundColor = divcolor;
                        newDiv2.style.backgroundColor = divcolor;
                
                        document.getElementById('powerhigh3').appendChild(newDiv1);
                        document.getElementById('powerhigh4').appendChild(newDiv2);
                        setTimeout(() => createatmLevels(i + 20,atmValue,k), 200);
                    }
                }
                else{
                    if (i < 10) {
                        const newDiv1 = document.createElement("div");
                        const newDiv2 = document.createElement("div");
                        newDiv1.classList.add("atmlevel");
                        newDiv2.classList.add("atmlevel");
                        divcolor = "red";
                        newDiv1.style.backgroundColor = divcolor;
                        newDiv2.style.backgroundColor = divcolor;
                
                        document.getElementById('powerhigh3').appendChild(newDiv1);
                        document.getElementById('powerhigh4').appendChild(newDiv2);
                        setTimeout(() => createatmLevels(i + 1,atmValue,k), 200);
                    }

                }
                
                
            }
            

            function fullalldaydata() {
                
                $.ajax({
                    url: '/all_data/',
                    method: 'GET',
                    data: { 'devdates': dayvalue }, 
                    dataType: 'json',
                    success: function (data) {
                        fulldata(data);
                    },
                    error: function (error) {
                        console.error('Error fetching live data:', error);
                    },
                    complete: function () {
                        setTimeout(fullalldaydata, delays);
                    }
                });
            }
            
            function graphupdates() {
                $.ajax({
                    url: '/graph_data/',
                    method: 'GET',
                    data: { 'grdates': lastdate1,'dorw':dorw }, 
                    dataType: 'json',
                    success: function (data) {
                        graph(data)
                    },
                    error: function (error) {
                        console.error('Error fetching live data:', error);
                    },
                    complete: function () {
                        setTimeout(graphupdates, delays);
                    }
                });
            }
            function dateupdations(val) {
                para=val
                $.ajax({
                    url: '/value_up/',
                    method: 'GET',
                    data: { 'way': para,
                            'grdates': lastdate1,'dorw':dorw }, 
                    dataType: 'json',
                    success: function (data) {
                        lastdate1=data;
                        if(dorw==0){$('#mainweekday').text(lastdate1);}
                        graphupdates();
                    },
                    error: function (error) {
                        console.error('Error fetching new date:', error);
                    },
                });
            }
            function inputdataupdate() {
                var inputElement = document.getElementById('thedatevalue').value;
                $.ajax({
                    url: '/day_update/',
                    method: 'GET',
                    data: { 'dates': inputElement }, 
                    dataType: 'json',
                    success: function (data) {
                        dayvalue=inputElement
                        fullalldaydata();
                    },
                    error: function (error) {
                        console.error('Error fetching new date:', error);
                    },
                });
            }
            
            graphupdates();
            
            fullalldaydata();

        </script>
        {% endblock details %}
        <script>
            todaytemper();
            function todaytemper() {
                $.ajax({
                    url: '/today_temp/',
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var newdata = data.split(',');
                        $('#todayTemperature').text(newdata[0]+"°");
                        $('#todaydate').text("Today "+newdata[1]);
                        $('#todaytime').text(newdata[2]);
                    },
                    error: function (error) {
                        console.error('Error fetching live data:', error);
                    },
                    complete: function () {
                        setTimeout(todaytemper, 5000);
                    }
                });
            }
        </script>
        <script src="https://kit.fontawesome.com/bc67d18a07.js" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>