<html>
    <head>
        {% load static %}
        <title>Acalica</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="icon" href="{% static 'rain.png' %}">
        <script src="{% static 'newjs.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    </head>
    <body>
        <script>
            var today = new Date();
            var thedatefor = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
            var lastdate1=thedatefor;
            var lastdate2=thedatefor;
            var dayvalue=thedatefor
            var dorw=0;
            var didval=2;
            
            
            
        </script>
        <div class="main">
            <div class="temperature">
                <div class="thead" >
                    <div class="sun">
                    </div>
                    <div class="themeselect">
                        <p>Dark Mode</p><div onclick="themechange()" class="buttonst"><div id="switchdata" class="switch"></div></div>
                    </div>
                </div>
                <div class="shead">
                    <table>
                        <tr>
                            <td id="todaydate">
                                Today 
                            </td>
                            <td id="todaytime">
                               0
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tmep">
                    <div id="todayTemperature">0°</div>
                </div>
                <div class="base">
                    <img id="imagedata" src="{% static 'Backgroundicon.png' %}" alt="">
                </div>

            </div>
            {% block details %}
            <div class="details">
                <div class="details_head">
                    <div>
                        <div><b>Welcome to weather station {{ predata }}</b></div>
                        <div>Check out Today's weather information</div>
                    </div>
                </div>
                <div class="details_div1">
                    <div onclick="homegraphdata(0,this)" class="grpoption2"><ion-icon id="homeswitch" name="chevron-back-outline"></ion-icon></div>
                    <div class="gr">
                        <div class="graphtitle">
                            <div id="mainweekday" class="transfer">Today's Temperature</div>
                            <div class="barhead">
                                <div><b> <button onclick="theweekchange()" id="weekorday">Daily weather</button></b></div>
                                <div><button onclick="dateupdations(1)" id='submitBtnpre' name='updatedata'>Previous Day</button>
                                    <button onclick="dateupdations(2)" id='submitBtnnex' name='updatedata'>Next Day</button></div>
                            </div>
                            <div id="thegrlabel" class="barlabel">
                                
                            </div>
                        </div>
                        <div class="canvasdata">
                            <canvas id="graphdisplay" ></canvas>
                        </div>
                    </div>
                    <div onclick="homegraphdata(1,this)" class="grpoption2"><ion-icon id="homeswitch" name="chevron-forward-outline"></ion-icon></div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                    var k=0
                    var chart
                    newitemarray2=[]
                    function graph(gradata)
                    {
                        newitemarray2=[]
                        const datasets = [];
                        themaingraphlabel=document.getElementById('thegrlabel')
                        themaingraphlabel.innerHTML = '';
                        newlabelarray=[];
                        newitemarray=[];
                        if(dorw==1)
                        {lastdate1=gradata[6].date;}
                        
                        if(dorw==1){li=7}
                        else{li=8}
                        for(i=0;i<li;i++){
                            const valdata = document.createElement("div");
                            valdata.classList.add("val");
                            const icons = document.createElement("ion-icon");
                            icons.setAttribute("id", 'rainic'+i);
                            const dayst = document.createElement("div");
                            dayst.setAttribute("id", 'daystem'+i);
                            valdata.appendChild(icons);
                            valdata.appendChild(dayst);
                            themaingraphlabel.appendChild(valdata);
                            if(gradata[i].value1==0){$('#daystem'+i).text("---");}
                            else{$('#daystem'+i).text(gradata[i].value1+gradata[0].Symbols);}
                            
                            var iconElement = document.getElementById('rainic'+i);
                            iconElement.setAttribute('name', gradata[i].value2);
                            if(dorw==1)
                            {newlabelarray[i]=gradata[i].date.split('-')[1]+"/"+gradata[i].date.split('-')[2];}
                            else{newlabelarray[i]=gradata[i].date}
                            if(i+1!=li)
                            {
                                newitemarray[i]=gradata[i].value1;
                                if(i+2==li){
                                    newitemarray2[i]=gradata[i].value1;
                                }
                            }
                            else{
                                newitemarray2[i]=gradata[i].value1;
                            }
                            
                            
                        }
                        let labels = newlabelarray
                        let itemdata = newitemarray
                        let itemdata2=newitemarray2
                        datasets.push({
                                    label:"Main Values",
                                    data: itemdata,
                                    borderColor: 'rgba(100, 180, 280,1)',
                                    fill: false,
                                    backgroundColor: "rgba(81, 159, 226,0.2)",
                                    tension: 0.15,
                                    borderWidth: 3
                        })
                        datasets.push({
                                    label:"Forcast Values",
                                    data: itemdata2,
                                    borderColor: 'rgb(180, 180, 280)',
                                    fill: false,
                                    backgroundColor: "rgba(81, 159, 226,0.2)",
                                    tension: 0.15,
                                    borderDash: [5, 5],
                                    borderWidth: 3
                        })
                        if(k==0)
                        {
                            const data = {
                                labels: labels,
                                datasets: datasets
                            };
                            const config = {
                                type: 'line',
                                data: data,
                                options: {
                                    plugins: {
                                        legend: {
                                            display: false
                                        },
                                        title: {
                                            display: false,
                                        }
                                    }
                                }
                            };
                            
                                chart = new Chart(
                                    document.getElementById('graphdisplay'),
                                    config
                                );
                                k++
                        }
                        else{
                            chart.data.labels = labels;
                            chart.data.datasets[0].data = itemdata;
                            chart.data.datasets[1].data = itemdata2;
                            chart.update()
                        }
                        
                    }
                    
                    var canvas = document.getElementById('graphdisplay');
                    var ctx = canvas.getContext('2d');
                    function needchart(){
                        return chart
                    }

                    function chartcolorchange(){
                        setTimeout(() => {
                            chart.options.scales.x.grid.color=chart.options.scales.y.grid.color = 'rgba(255, 255, 255, 0.1)';
                            chart.options.scales.x.ticks.color=chart.options.scales.y.ticks.color = 'white';
                            chart.update();
                        }, 200);
                    }

                    function setCanvasSize() {
                        if(window.innerWidth<700)
                        {
                            canvas.width = innerWidth*52;  
                            canvas.height=innerWidth*20
                        }
                        else{
                            if(window.innerWidth<1250)
                            {
                                canvas.width = 18800;  
                                canvas.height=2660
                            }
                            else{
                                canvas.width = 10800;  
                                canvas.height=2060
                            }
                        }
                        if(window.innerHeight>1600)
                        {
                            canvas.width = innerWidth*52;  
                            canvas.height=innerWidth*20
                        }
                        else{
                            if(window.innerHeight>1000)
                            {
                                canvas.width = innerWidth*62;  
                                canvas.height=innerWidth*20
                            }
                        }
                        
                    }
                    setCanvasSize();
                    window.addEventListener('resize', setCanvasSize);
                    function theweekchange(){
                        thevalue=document.getElementById("weekorday")
                        previousbutton=document.getElementById("submitBtnpre")
                        nextbutton=document.getElementById("submitBtnnex")
                        if(dorw==1){dorw=0
                            thevalue.textContent="Daily weather "
                            nextbutton.textContent="Next Day"
                            previousbutton.textContent="Previous Day"
                        }
                        else{dorw=1
                            thevalue.textContent="Weekly weather"
                            nextbutton.textContent="Next week"
                            previousbutton.textContent="Previous week"
                        }
                        graphupdates(didval)
                    }
                </script>
                
                <div class="details_div2">
                    <input  id="thedatevalue" type="date" onchange="inputdataupdate()">
                    <div class="subdetails">
                        <div>
                            <div>
                                <div class="humditytitle">
                                    <b>Humidity</b>
                                    <div class="icon" onclick="nextpagedata(404,1)"><b><ion-icon name="cloud-outline"></ion-icon></b></div>
                                </div>
                                <div class="humdity">
                                    <b id="humidity">0%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="humiditybar" ></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="temperaturetitle">
                                    <b>Temperature</b>
                                    <div id="ticon" class="icon" onclick="nextpagedata(404,2)"><b><ion-icon id="tempwarningicon" name="thermometer-outline"></ion-icon></b></div>
                                </div>
                                <div class="temperatured">
                                    <b id="Temperature">0°</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0°</div>
                                        <div style="justify-content: center;">50°</div>
                                        <div style="justify-content: end;">100°</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="Temperaturebar"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="raintitle">
                                    <b >Chance of Rain</b>
                                    <div class="icon" id="rainicon" onclick="nextpagedata(5,1)">
                                        <b><ion-icon id="rainnew" name="sunny-outline"></ion-icon></b></div>
                                </div>
                                <div class="rain">
                                    <b id="rain">0%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="rainbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="windtitle">
                                    <b >Wind Speed</b>
                                    <div class="icon" id="windicon" onclick="nextpagedata(404,6)">
                                        <b><ion-icon name="speedometer-outline"></ion-icon></b>
                                    </div>
                                </div>
                                <div class="wind">
                                    <div class="speedar">
                                        <div class="windpower">
                                            <div id="powerhigh1" class="windpowersub">
                                            </div>
                                        </div>
                                        <div id="ficr" class="speedarcir">
                                            <div id="scecr" class="seccirlcle">
                                                <div class="speedararrowco" id="windbar">
                                                    <div id="wibar" class="speed1"></div>
                                                </div>
                                                <div class="speed2"></div>
                                            </div>
                                        </div>    
                                        <div class="windpower">
                                            <div id="powerhigh2" class="windpowersub">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="speedar2" ><b id="winds">0km/h</b></div>
                                </div>
                            </div>
                            <div >
                                <div class="windirtitle">
                                    <b>Wind Direction</b>
                                    <div class="icon" onclick="nextpagedata(404,1)"><b><ion-icon name="compass-outline"></ion-icon></b></div>
                                </div>
                                <div class="wibr">
                                    <div class="dirdata"><table style="text-align: center;">
                                        <tr>
                                            <td id="topdir"></td>
                                        </tr>
                                        <tr >
                                            <td><ion-icon  name="arrow-up-outline"></ion-icon></td>
                                        </tr>
                                        <tr>
                                            <td id="bottomdir"></td>
                                        </tr>
                                    </table></div>
                                    <div id="load" class="dircir">
                                        <div id="dirwbar" class="dirarrow"></div>
                                    </div>
                                    <div class="dirdata">
                                        <div class="valuewind" id="winddeg"></div>
                                        <div class="valuewind2" id="windsp"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="atmtitle">
                                    <b >Atmospheric Pressure</b>
                                    <div class="icon" id="atmicon" onclick="nextpagedata(8,1)">
                                        <b><ion-icon name="contract-outline"></ion-icon></b></div>
                                </div>
                                <div class="atm">
                                    <div class="speedar">
                                        <div class="windpower">
                                            <div id="powerhigh3" class="windpowersub">
                                            </div>
                                        </div>
                                        <div id="ficr2" class="speedarcir">
                                            <div  id="scecr2" class="seccirlcle2">
                                                <div  class="speedararrowco" id="atmbar">
                                                    <div class="speed1"></div>
                                                </div>
                                                <div class="speed2"></div>
                                            </div>
                                        </div>    
                                        <div class="windpower">
                                            <div id="powerhigh4" class="windpowersub">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="speedar2" ><b id="atmdata">0hPa</b></div>
                                </div>
                            </div>
                            
                        </div>
                        <div>
                            <div>
                                <div class="no2title">
                                    <b>NO² Presents</b>
                                    <div class="icon" id="no2icon" onclick="nextpagedata(404,7)"><b><ion-icon name="logo-electron"></ion-icon></b></div>
                                </div>
                                <div class="no2">
                                    <b id="no2">0%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="no2bar"></div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div>
                                <div class="co2title">
                                    <b>CO² Presents</b>
                                    <div class="icon" id="co2icon" onclick="nextpagedata(404,4)"><b><ion-icon id="co2warningicon" name="warning-outline"></ion-icon></b></div>
                                </div>
                                <div class="co2">
                                    <b id="co2">0%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="co2bar"></div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="uvtitle">
                                    <b>UV Sensor</b>
                                    <div class="icon" id="co2icon" onclick="nextpagedata(404,9)"><b><ion-icon name="warning-outline"></ion-icon></b></div>
                                </div>
                                <div class="uvs">
                                    <b id="uvs">0%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="uvsbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="soundtitle">
                                    <b>Sound</b>
                                    <div class="icon" onclick="nextpagedata(3,1)"><b><ion-icon name="volume-high-outline"></ion-icon></b></div>
                                </div>
                                <div class="sound">
                                    <b id="Sound">0%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="Soundbar" ></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div>
                                <div class="airqtitle">
                                    <b>Air Quality</b>
                                    <div id="theaq" class="icon" onclick="nextpagedata(404,11)">
                                        <b><ion-icon name="balloon"></ion-icon></b></div>
                                </div>
                                <div class="airq">
                                    <b id="airq">0%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div id="airqbar"></div>
                                    </div>
                                </div>
                            </div>
                            <a href="details"><div class="theviewmorebutton" style="display: flex; flex-direction: row; align-items: center; justify-content: center; font-size: 25px;">More details<ion-icon name="arrow-forward-outline"></ion-icon></div></a>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        <script>
            widtempdir=-1;
            delays=5000;
            barcount=0;
            barcount2=0;
            document.getElementById('thedatevalue').value=dayvalue;
            var onbar1=onbar2="5px solid rgb(6, 116, 212)"
            var offbar1=offbar2="5px solid rgb(194, 194, 194)"
            function fulldata(data) {
                humidityValue = data[0].device_values;
                $('#humidity').text(humidityValue+"%");
                document.getElementById('humiditybar').style.width =  humidityValue+"%";
                document.getElementById('humiditybar').style.backgroundColor=data[0].Dev_Color;



                var temperatureValue = data[1].device_values;
                $('#Temperature').text(temperatureValue+"°");
                document.getElementById('Temperaturebar').style.width =  temperatureValue+"%";
                document.getElementById('ticon').style.backgroundColor=data[1].Dev_Color;
                document.getElementById('Temperaturebar').style.backgroundColor=data[1].Dev_Color;
                document.getElementById('ticon').style.backgroundColor=data[1].Dev_Color;
                var tempbarwar = document.getElementById('Temperaturebar');
                if (tempbarwar.classList.contains('warning')) {
                    tempbarwar.classList.remove('warning');
                    document.getElementById('Temperature').classList.remove("colorWarning")}
                if(temperatureValue >= "60"){tempbarwar.classList.add("warning");
                    document.getElementById('Temperature').classList.add("colorWarning")}
                


                var soundValue = data[2].device_values;
                $('#Sound').text(soundValue+"%");
                document.getElementById('Soundbar').style.width =  soundValue+"%";
                document.getElementById('Soundbar').style.backgroundColor=data[2].Dev_Color;


                var co2Value = data[3].device_values;
                $('#co2').text(co2Value+"%");
                document.getElementById('co2bar').style.width =  co2Value+"%";
                document.getElementById('co2bar').style.backgroundColor=data[3].Dev_Color;
                document.getElementById('co2icon').style.backgroundColor=data[3].bgicon;
                var co2WarningIcon = document.getElementById('co2bar');
                if (co2WarningIcon.classList.contains('warning')) {co2WarningIcon.classList.remove('warning');document.getElementById('co2').classList.remove('colorWarning');}

                if(co2Value >= "20"){
                co2WarningIcon.classList.add('warning');
                document.getElementById('co2').classList.add('colorWarning');}


                var rainValue = data[4].device_values;
                $('#rain').text(rainValue+"%");
                document.getElementById('rainbar').style.width =  rainValue+"%";
                document.getElementById('rainbar').style.backgroundColor=data[4].Dev_Color;
                document.getElementById('rainicon').style.backgroundColor=data[4].Dev_Color;
                document.getElementById('rainicon').style.color=data[4].Icon_color;
                document.getElementById('rainnew').setAttribute('name', data[4].Icon)
                



                var windValue = data[5].device_values;
                per=(180/30)*windValue;
                var windarrow = document.getElementById('windbar');
                if (windarrow.classList.contains('speedwarning')) {windarrow.classList.remove('speedwarning');}
                if(per<=0){per=0}
                else if(per>=180){per=180}
                $('#winds').text(windValue+"km/h");
                document.getElementById('windicon').style.color="white";
                document.getElementById('windbar').style.transform =  "rotate("+per+"deg)";
                tr1=per-45
                var levels1=document.getElementById('ficr')
                levels1.style.transform =  "rotate("+tr1+"deg)";
                document.getElementById('scecr').style.transform =  "rotate("+(tr1*-1)+"deg)";
                levels1.style.borderBottom=data[5].barbottom;
                levels1.style.borderRight = data[5].barrigth;
                if(barcount!=windValue)
                {   document.getElementById('powerhigh1').innerHTML = '';
                    document.getElementById('powerhigh2').innerHTML = '';
                    barcount = windValue;
                    createWindLevels(0,windValue);}


                var no2Value = data[6].device_values;
                $('#no2').text(no2Value+"%");
                document.getElementById('no2bar').style.width =  no2Value+"%";
                document.getElementById('no2bar').style.backgroundColor=data[6].Dev_Color;


                var atmValue = data[7].device_values;
                $('#atmdata').text(atmValue+"hPa");
                thepsvalue = ((atmValue - 300) / (1100 - 300)) * (180 - 0) + 0;
                if(thepsvalue<=0){thepsvalue=0}
                else if(thepsvalue>=180){thepsvalue=180}
                document.getElementById('atmbar').style.transform =  "rotate("+thepsvalue+"deg)";
                tr2=thepsvalue-45;
                var levelbar2=document.getElementById('ficr2')
                levelbar2.style.transform =  "rotate("+tr2+"deg)";
                document.getElementById('scecr2').style.transform =  "rotate("+(tr2*-1)+"deg)";
                if(barcount2!=atmValue)
                {   document.getElementById('powerhigh3').innerHTML = '';
                    document.getElementById('powerhigh4').innerHTML = '';
                    barcount2 = atmValue;
                    if(atmValue<900){createatmLevels(0,atmValue,1);}
                    else{createatmLevels(900,atmValue,0);}
                }
                levelbar2.style.borderBottom = data[7].barbottom;
                levelbar2.style.borderRight = data[7].barrigth;
                    
                


                var uvrays = data[8].device_values;
                $('#uvs').text(uvrays+"%");
                document.getElementById('uvsbar').style.width =  uvrays+"%";
                document.getElementById('uvsbar').style.backgroundColor=data[8].Dev_Color;


                var winddir = data[9].device_values;
                if(widtempdir!=winddir)
                {                
                    widtempdir=winddir;
                    winddir=winddir%360;
                    document.getElementById('dirwbar').style.transform =  "rotate("+(winddir+90)+"deg)";

                    if(winddir==0){from="S";to="N";  }
                    else if(winddir==90){from="W";to="E"; }
                    else if(winddir==180){from="N";to="S";}
                    else if(winddir==270){from="E";to="W";}
                    else{
                        if(winddir<90){from="SW";to="NE";}
                        else if(winddir<180){from="NW";to="SE";}
                        else if(winddir<270){from="NE";to="SW";}
                        else if(winddir<360){from="SE";to="NW";}
                    }
                    $('#bottomdir').text(from);
                    $('#topdir').text(to);
                    $('#winddeg').text(winddir+"° "+to);
                    $('#windsp').text(windValue+" km/h");
                }

                var air = data[10].device_values;
                $('#airq').text(air+"%");
                document.getElementById('airqbar').style.width =  air+"%";
                document.getElementById('airqbar').style.backgroundColor=document.getElementById('theaq').style.backgroundColor=data[10].Dev_Color;
                
                
            }

            


            function createWindLevels(i,windValue) {
                let divcolor;
            
                if (i < windValue && i<30) {
                    const newDiv1 = document.createElement("div");
                    const newDiv2 = document.createElement("div");
                    newDiv1.classList.add("windlevel");
                    newDiv2.classList.add("windlevel");
                    doc1p=document.getElementById('powerhigh1');
                    doc2p=document.getElementById('powerhigh2');
                    if (i < 12) {
                        divcolor = "rgb(0, 255, 170)";
                    } else if (i < 18) {
                        divcolor = "orange";
                    } else {
                        divcolor = "red";
                    }
            
                    newDiv1.style.backgroundColor = divcolor;
                    newDiv2.style.backgroundColor = divcolor;
            
                    doc1p.appendChild(newDiv1);
                    doc2p.appendChild(newDiv2);
                    setTimeout(() => createWindLevels(i + 3,windValue), 200);
                }
            }
            function createatmLevels(i,atmValue,k) {
                let divcolor;
                if(k==0)
                {
                    if (i < atmValue && i<1100) {
                        const newDiv1 = document.createElement("div");
                        const newDiv2 = document.createElement("div");
                        newDiv1.classList.add("atmlevel");
                        newDiv2.classList.add("atmlevel");
                
                        if (i <= 940) {
                            divcolor = "orange";
                        } else if (i < 1013) {
                            divcolor = "rgb(0, 255, 170)";
                        } else {
                            divcolor = "red";
                        }
                
                        newDiv1.style.backgroundColor = divcolor;
                        newDiv2.style.backgroundColor = divcolor;
                
                        document.getElementById('powerhigh3').appendChild(newDiv1);
                        document.getElementById('powerhigh4').appendChild(newDiv2);
                        setTimeout(() => createatmLevels(i + 20,atmValue,k), 200);
                    }
                }
                else{
                    if (i < 10) {
                        const newDiv1 = document.createElement("div");
                        const newDiv2 = document.createElement("div");
                        newDiv1.classList.add("atmlevel");
                        newDiv2.classList.add("atmlevel");
                        divcolor = "red";
                        newDiv1.style.backgroundColor = divcolor;
                        newDiv2.style.backgroundColor = divcolor;
                
                        document.getElementById('powerhigh3').appendChild(newDiv1);
                        document.getElementById('powerhigh4').appendChild(newDiv2);
                        setTimeout(() => createatmLevels(i + 1,atmValue,k), 200);
                    }

                }
                
                
            }
            

            function fullalldaydata() {
                
                $.ajax({
                    url: '/all_data/',
                    method: 'GET',
                    data: { 'devdates': dayvalue }, 
                    dataType: 'json',
                    success: function (data) {
                        fulldata(data);
                    },
                    error: function (error) {
                        console.error('Error fetching live data:', error);
                    },
                    complete: function () {
                        setTimeout(fullalldaydata, delays);
                    }
                });
            }
            
            var updateTimer;

            function graphupdates(dv_id) {
                if (updateTimer) {
                    clearTimeout(updateTimer);
                }
                $.ajax({
                    url: '/graph_data/',
                    method: 'GET',
                    data: { 'grdates': lastdate1, 'dorw': dorw, 'Device_id': dv_id }, 
                    dataType: 'json',
                    success: function (data) {
                        if(lastdate1==thedatefor && dorw==0){
                            $('#mainweekday').text("Today's "+data[0].Names+" ");}
                        else if(dorw==1){$('#mainweekday').text("Weekly "+data[0].Names+" ");}
                        else if(dorw==0){$('#mainweekday').text(lastdate1+" "+data[0].Names+" ");}
                        graph(data);
                    },
                    error: function (error) {
                        console.error('Error fetching live data:', error);
                    },
                    complete: function () {
                        
                        updateTimer = setTimeout(function() {
                            graphupdates(dv_id);
                        }, 5000);
                    }
                });
            }


            function dateupdations(val) {
                para=val
                $.ajax({
                    url: '/value_up/',
                    method: 'GET',
                    data: { 'way': para,
                            'grdates': lastdate1,'dorw':dorw }, 
                    dataType: 'json',
                    success: function (data) {
                        lastdate1=data;
                        graphupdates(didval);
                    },
                    error: function (error) {
                        console.error('Error fetching new date:', error);
                    },
                });
            }
            function inputdataupdate() {
                var inputElement = document.getElementById('thedatevalue').value;
                $.ajax({
                    url: '/day_update/',
                    method: 'GET',
                    data: { 'dates': inputElement }, 
                    dataType: 'json',
                    success: function (data) {
                        dayvalue=inputElement
                        fullalldaydata();
                    },
                    error: function (error) {
                        console.error('Error fetching new date:', error);
                    },
                });
            }
            
            graphupdates(didval);
            
            fullalldaydata();
        </script>
        {% endblock details %}
        <script>
            todaytemper();
            function todaytemper() {
                $.ajax({
                    url: '/today_temp/',
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var newdata = data.split(',');
                        $('#todayTemperature').text(newdata[0]+"°");
                        $('#todaydate').text("Today "+newdata[1]);
                        $('#todaytime').text(newdata[2]);
                    },
                    error: function (error) {
                        console.error('Error fetching live data:', error);
                    },
                    complete: function () {
                        setTimeout(todaytemper, 5000);
                    }
                });
            }
            themecheck()
        </script>
        <script src="https://kit.fontawesome.com/bc67d18a07.js" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>