<html>
    <head>
        {% load static %}
        <title>Weather</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="main">
            <div class="temperature">
                <div class="thead">
                    <div class="sun">

                    </div>
                </div>
                <div class="shead">
                    <table>
                        <td>
                            <tr>
                                Today {{ tdate }}
                            </tr>
                            <tr>
                                {{ ttime }}
                            </tr>
                        </td>
                    </table>
                </div>
                <div class="tmep">
                    <div>{{ tdata.Temperature }}°</div>
                </div>
                <div class="base">
                    <img src="{% static 't3.png' %}" alt="">
                </div>

            </div>
            <div class="details">
                <div class="details_head">
                    <div>
                        <div><b>Welcome to weather station</b></div>
                        <div>Check out Today's weather information</div>
                    </div>
                </div>
                <div class="details_div1">
                    <div>
                        <div class="graphtitle">
                            <div class="barhead">
                                <div><b>This week's weather</b></div>
                                <div><button>Previous week</button></div>
                            </div>
                            <div class="barlabel">
                                <div class="val"><ion-icon name="rainy-outline"></ion-icon>20</div>
                                <div class="val"><ion-icon name="cloudy-outline"></ion-icon>27</div>
                                <div class="val"><ion-icon name="sunny-outline"></ion-icon>29</div>
                                <div class="val"><ion-icon name="cloudy-outline"></ion-icon>26</div>
                                <div class="val"><ion-icon name="partly-sunny-outline"></ion-icon>28</div>
                                <div class="val"><ion-icon name="partly-sunny-outline"></ion-icon>28</div>
                                <div class="val"><ion-icon name="sunny-outline"></ion-icon>30</div>
                            </div>
                        </div>
                        <div style="width: 96%; height: 70%; margin-bottom: -2px;">
                            <canvas id="graphdisplay" width="10800" height="2060"></canvas>
                        </div>
                    </div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                    let labels = ['01', '02', '03', '04', '05', '06', '07'];
                    let itemdata = [20, 30, 20, 20, 25, 33, 25];
                    const data = {
                        labels: labels,
                        datasets: [{
                            data: itemdata,
                            borderColor: 'rgb(100, 180, 280)',
                            fill: true,
                            backgroundColor: "rgb(81, 159, 226)",
                            tension: 0.15,
                            borderWidth: 3
                        }]
                    };
                    const config = {
                        type: 'line',
                        data: data,
                        options: {
                            plugins: {
                                legend: {
                                    display: false
                                },
                                title: {
                                    display: false,
                                }
                            }
                        }
                    };
                    const chart = new Chart(
                        document.getElementById('graphdisplay'),
                        config
                    );
                </script>
                
                <div class="details_div2">
                    <div class="subdetails">
                        <div>
                            <div>
                                <div class="humditytitle">
                                    <b>Humidity</b>
                                    <div class="icon"><b><ion-icon name="cloud-outline"></ion-icon></b></div>
                                </div>
                                <div class="humdity">
                                    <b>{{ tdata.Humidity| default:"No data" }}%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div style="width: {{ tdata.Humidity }}%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="temperaturetitle">
                                    <b>Temperature</b>
                                    <div class="icon"><b><ion-icon name="thermometer-outline"></ion-icon></b></div>
                                </div>
                                <div class="temperatured">
                                    <b>{{ tdata.Temperature }}°</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0°</div>
                                        <div style="justify-content: center;">50°</div>
                                        <div style="justify-content: end;">100°</div>
                                    </div>
                                    <div class="levelbar">
                                        <div style="width: {{ tdata.Temperature }}%;" ></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="soundtitle">
                                    <b>Sound</b>
                                    <div class="icon"><b><ion-icon name="volume-high-outline"></ion-icon></b></div>
                                </div>
                                <div class="sound">
                                    <b>{{ weather_data.data }}%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div style="width: {{ tdata.Sound }}%;" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="co2title">
                                    <b>CO²</b>
                                    <div class="icon"><b><ion-icon name="warning-outline"></ion-icon></b></div>
                                </div>
                                <div class="co2">
                                    <b>{{ tdata.co2 }}%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div style="width: {{ tdata.co2 }}%;" ></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="raintitle">
                                    <b>Chance of Rain</b>
                                    <div class="icon"><b><ion-icon name="rainy-outline"></ion-icon></b></div>
                                </div>
                                <div class="rain">
                                    <b>{{ tdata.Rain }}%</b>
                                </div>
                                <div class="level">
                                    <div class="limits">
                                        <div style="justify-content: baseline;" >0%</div>
                                        <div style="justify-content: center;">50%</div>
                                        <div style="justify-content: end;">100%</div>
                                    </div>
                                    <div class="levelbar">
                                        <div style="width: {{ tdata.Rain }}%;" ></div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; font-size: 25px;">More details <ion-icon name="arrow-forward-outline"></ion-icon></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>