body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 152, 216);
}
.main{
    background-color: rgb(27, 185, 248);
    height: 99%;
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
}
.temperature{
    background-color: transparent;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.sun{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 225, 0);
    border-radius: 50%;
    margin-left: -250px;
    margin-top: -20px;
    box-shadow: 8px 8px 4px  rgb(255, 225, 0);

}
.thead
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
.shead
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.shead > table {
    color: white;
    font-size: 20px;
}
.tmep
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 80px;
}
.details{
    background-color: rgba(223, 248, 255, 0.79);
    border-radius: 20px;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.details_head{
    height: 8%;
    width: 87.5%;
    display: flex;
    align-items: end;
    justify-content: baseline;
}
.details_head > div{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;
    height: 76%;
    color: rgb(33, 33, 33);
    width: 50%;
}

.details_div1{
    height: 42%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details_div1> div{
    height: 90%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 20px;
    flex-direction: column;
}
.graphtitle{
    height: 40%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 10px;
}
.barhead{
    height: 30%;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.barhead >div> button{
    color:  white;
    background-color: rgb(75,196,243);
    border: none;
    border-radius: 4px;
    font-weight: 0;
    height: 90%;
}
.barhead >div> button:hover{
    background-color: rgb(47, 155, 197);
}
.barlabel
{
    height: 50%;
    width: 97.5%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.val{
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}
.base{
    margin-top: 180px;
    height: 52%;
    width: 99%;
    display: flex;
    align-items: end;
}
.base > img{
    width: 292px;
    height: 302px;
}
.graph{
    height: 60%;
    width: 95%;
    background-color: rgb(255, 255, 255);
}
.details_div2{
    height: 51%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    margin-top: -5px;
}
.subdetails{
    height: 90%;
    width: 85%;
    border-radius: 20px;
    overflow-y: auto;
}
.subdetails::-webkit-scrollbar {
    width: 1px;
  }
.details_div2 > input{
    color:  black;
    text-align: center;
    border-radius: 4px;
    font-weight: 0;
    height: 25px;
    width: 150px;

}
.subdetails > div{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.subdetails > div >a{
    text-decoration: none;
    color: black;
}
.subdetails > div > div,.subdetails > div >a> div{
    background-color: white;
    height: 150px;
    width: 270px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}
.humditytitle,.temperaturetitle,.soundtitle,.co2title,.raintitle,.windtitle,.no2title,.atmtitle,.uvtitle,.windirtitle,.airqtitle{
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(50, 50, 50);
}
.icon{
    height: 25px; 
    width: 25px; 
    background-color: rgb(81, 159, 226); 
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 1s ease-in-out;
}
.humdity,.temperatured,.sound,.co2,.rain,.wind,.no2,.atm,.uvs,.airq{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: rgb(50, 50, 50);
}
.wind,.atm{
    height: 70%;
    flex-direction: column;
}
.level{
    
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.limits{
    width: 84%;
    height: 50%;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.limits > div{
    width: 30px;
    display: flex;
    color: rgb(30, 30, 30);
    align-items: center;
}
.levelbar{
    width: 80%;
    height: 50%;
    background-color: rgb(225, 225, 225);
    border-radius: 20px;
    display: flex;
    justify-content: baseline;
    overflow: hidden;
    align-items: center;
}
.levelbar > div{
    background-color: rgb(81, 159, 226);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: all 1s ease-in-out;
}
.speedar{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.speedar2{
    height: 30px;
    background-color: rgb(255, 255, 255);
    width: 136px;
    text-align: center;
    font-size: 15px;
}
.speedarcir{
    margin-top: 60px;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 5px solid rgb(6, 116, 212);
    border-bottom: 5px solid rgb(194, 194, 194);
    border-right: 5px solid rgb(194, 194, 194);
    border-top: 5px solid rgb(194, 194, 194);
    background-position: center;
    background-size: cover;
    color: aliceblue;
    transform: rotate(-45deg);
    transition: all 1s ease-in-out;
    background: radial-gradient(circle, #ffffff, #dfdfdf);
}
.seccirlcle,.seccirlcle2{
    transition: all 1s ease-in-out;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    background-position: center;
    background-size: cover;
    color: aliceblue;
    background-image:  url(meter.png);
    transform: rotate(45deg);
}
.seccirlcle2{
    background-image:  url(meter2.png);
}
.speedararrowco{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 24px;
    width: 50%;
    margin-left: 0px;
    transform: rotate(0deg);
    transform-origin: right center;
    transition: all 1s ease-in-out;
}
.speed1{
    margin-right: 7px;
    background-color: rgb(81, 159, 226);
    width: 40px;
    height: 6px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.speed2{    
    height: 10px;
    width: 10px;
    background-color: rgb(2, 87, 172);
    border-radius: 50%;
    margin-left: -5px;
}
.speed0{
    position: fixed;
    color: rgb(46, 46, 46);
    font-size: 14px;
    transform: translate(3px,0px);
}
.windpower{
    height: 100%;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.windpowersub{
    height: 97%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column-reverse;
    border: 2px solid rgb(195, 195, 195);
    border-radius: 5px;
    overflow: hidden;
}
.windlevel{
    height: 10%;
    width: 100%;
    border-radius: 2px;
    border: 1px solid white;
    box-sizing: border-box;
}
.atmlevel{
    height: 10%;
    width: 100%;
    border-radius: 2px;
    border: 1px solid white;
    box-sizing: border-box;
}
.warning{
    animation: blink .5s infinite;
    
}
@keyframes blink {
    0% { background-color: red; }
    50% { background-color: rgb(225, 225, 225); }
    100% { background-color: red; }
  }
.wibr{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dircir{
    height: 115px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('winddir.png');
    background-size: 100% 100%; /* or background-size: cover; */
    background-repeat: no-repeat;
    
}
.dirarrow{
    background: linear-gradient(to right, red 50%, white 50%);
    border: 1px solid black;
    width: 58px;
    height: 5px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;   
    transform: rotate(90deg);
    transition: all 1s ease-in-out;
}
.dirdata{
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.valuewind,.valuewind2{
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 15px;
}
.valuewind2{
    font-size: 10px;
}
