:root{
    --bodycolor: rgb(78, 152, 216);
    --maindiv_bgcolor:rgb(27, 185, 248);
    --maindivborder:rgb(1, 164, 228);
    --sunbgcolor:rgb(255, 225, 0);
    --detailsbody:rgba(223, 248, 255, 0.79);
    --blacktext:rgb(33, 33, 33);
    --graph:aliceblue;
    --graph_text:black;
    --button_color:rgb(75,196,243);
    --button_color_hover:rgb(47, 155, 197);
    --inputboxcol:black;
    --inputboxbg:white;
    --detailsdivbg:white;
    --detailsdivcolor:rgb(50, 50, 50);
    --detailsdivbarbg:rgb(225, 225, 225);
    --speedbarbg:rgba(255, 255, 255, 0);
    --speedbarcolor:black;
    --blurdata:3px;
    --image_color:black;
    --dirwind:url('winddir.png');
    --limitdata_border:rgba(255, 255, 255, 0.664);
    --darktheme:rgba(106, 106, 106, 0.447);
    --darkthemebutton:rgba(255, 255, 255, 0.662);
    --darkthemetext:rgb(255, 255, 255);
    --speedborderorg:rgb(194, 194, 194);
    --speedborderblue:rgb(6, 116, 212);
    --barlevelborder:white;
    --animationhover:rgb(0, 0, 0);
    --boxshadow:transparent;
    --calender:rgba(255, 255, 255, 0.629);
    --calender_text:black;
    --calender_red:rgb(255, 0, 0);
    --cal_body:white;


    --limit_color_low:rgb(0, 234, 255);
    --limit_color_good:rgb(30, 255, 0);
    --limit_color_mid:rgb(255, 196, 0);
    --limit_color_high:rgb(245, 28, 28);


    --barlevelgreen:rgb(0, 255, 170);
    --barlevelorange:orange;
    --barlevelred:red;


    --loadcolor:white;
    --anime:all .5s ease-in-out;

}
body.dark{
    --bodycolor: rgb(10, 21, 100);
    --maindiv_bgcolor:rgb(8, 46, 61);
    --maindivborder:rgb(10, 86, 117);
    --sunbgcolor:rgb(255, 225, 0);
    --detailsbody:rgba(3, 53, 83, 0.79);
    --blacktext:rgb(255, 255, 255);
    --graph:rgba(0, 0, 0, 0.379);
    --graph_text:rgb(255, 255, 255);
    --button_color:rgb(5, 75, 103);
    --button_color_hover:rgb(47, 155, 197);
    --inputboxcol:rgb(255, 255, 255);
    --inputboxbg:rgba(26, 25, 25, 0.629);
    --detailsdivbg:rgba(0, 0, 0, 0.379);
    --detailsdivcolor:rgb(182, 234, 255);
    --detailsdivbarbg:rgba(0, 0, 0, 0.299);
    --speedbarbg:rgba(0, 98, 255, 0);
    --speedbarcolor:rgb(255, 255, 255);
    --blurdata:10px;
    --image_color:rgba(255, 255, 255, 0.845);
    --dirwind:url('winddirwhite.png');
    --limitdata_border:rgb(0, 0, 0);
    --darktheme:rgba(213, 213, 213, 0.447);
    --darkthemebutton:yellow;
    --darkthemetext:rgb(255, 255, 255);
    --speedborderorg:rgb(182, 234, 255);
    --speedborderblue:rgb(18, 113, 197);
    --barlevelborder:rgb(0, 0, 0);
    --animationhover:rgb(255, 255, 255);
    --boxshadow:rgb(34, 34, 34);
    --calender:rgba(0, 0, 0, 0.162);
    --calender_text:white;
    --calender_red:rgb(207, 3, 3);
    --cal_body:transparent;

    --limit_color_low:rgb(0, 187, 204);
    --limit_color_good:rgb(23, 197, 0);
    --limit_color_mid:rgb(195, 150, 0);
    --limit_color_high:rgb(184, 22, 22);

    
    --loadcolor:rgba(0, 0, 0, 0.4);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bodycolor);
    transition: var(--anime);
}

.main{
    background-color: var(--maindiv_bgcolor);
    height: 99%;
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid var(--maindivborder);
    transition: var(--anime);
}
.temperature{
    background-color: transparent;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.sun{
    height: 100px;
    width: 100px;
    background-color: var(--sunbgcolor);
    border-radius: 50%;
    margin-left: -40px;
    margin-top: -40px;
    box-shadow: 8px 8px 4px  var(--sunbgcolor);
    transition: var(--anime);

}
.thead
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 30px;
}
.themeselect{
    width: 30%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.themeselect>p{
    color: var(--darkthemetext);
    font-size: 13px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: var(--anime);
}
.buttonst{
    background-color: var(--darktheme);
    height: 23px;
    width: 52px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
    transition: var(--anime);
    box-shadow: inset 0 0 10px 5px var(--boxshadow);
    border: 2px solid white;
}
.switch{
    transform: translateX(calc(0% + 3px));
    transition: all .3s ease-in-out;
    height: 18px;
    width: 18px;
    background-color: var(--darkthemebutton);
    border-radius: 50%;
    transition: var(--anime);
    
}
.switch.dark{
    transform: translateX(calc(200% - 5px));
}
.shead
{
    
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.shead > table {
    color: white;
    font-size: 20px;
    filter: drop-shadow(2px 2px 0px rgb(52, 52, 52));
}
.tmep
{
    filter: drop-shadow(2px 2px 1px rgb(37, 37, 37));
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 80px;
}
.details{
    background-color: var(--detailsbody);
    border-radius: 20px;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: var(--anime);
}

.details::-webkit-scrollbar {
    width: 1px;
  }
.details_head{
    height: 8%;
    width: 87.5%;
    display: flex;
    align-items: end;
    justify-content: baseline;
}
.details_head > div{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;
    height: 76%;
    color: var(--blacktext);
    width: 50%;
    transition: var(--anime);
}

.details_div1{
    height: 48%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grpoption2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    color: var(--graph_text);
    background-color: var(--graph);
    margin: 2px;
    height: 90%;
    width: 50px;
    border-radius: 5px;
    transition: var(--anime);
}
.grpoption2:first-child{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.grpoption2:last-child{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.details_div1> .gr{
    border-radius: 5px;
    height: 90%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--graph);
    flex-direction: column;
    transition: var(--anime);
}
.graphtitle{
    height: 40%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding-right: 10px;
}
.barhead{
    margin-top: 10px;
    height: 30%;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.barhead >div> button{
    color:  white;
    background-color: var(--button_color);
    box-shadow: 2px 2px 3px black;
    border: none;
    border-radius: 4px;
    font-weight: 0;
    height: 90%;
    transition: var(--anime);
}
#weekorday{
    box-shadow: 2px 2px 3px black;
    color:  white;
    background-color: var(--button_color);
    border: none;
    border-radius: 4px;
    font-weight: 0;
    height: 90%;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    transition: var(--anime);
}
#weekorday:hover,#weekorday:active{
    background-color: var(--button_color_hover);
    transition: all .2s ease-in-out;
}
.transfer{
    width: 100%;
    text-align: center;
    height: 5px;
    margin-top: 5px;
    color: var(--graph_text);
    transition: var(--anime);
}
.canvasdata{
    width: 96%; 
    height: 70%;
    margin-bottom: -2px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.barhead >div> button:hover{
    background-color: var(--button_color_hover);
    transition: all .2s ease-in-out;
}

.barlabel
{
    color: var(--graph_text);
    height: 50%;
    width: 99%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-right: -5px;
    transition: var(--anime);
}
.val{
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35px;
    justify-content: space-between;
    font-weight: 600;
}
.base{
    margin-top: 180px;
    height: 52%;
    width: 99%;
    display: flex;
    align-items: end;
}
.base > img{
    width: 292px;
    height: 302px;
    filter: drop-shadow(2px 2px var(--blurdata) var(--image_color));
    transition: var(--anime);
}
.graph{
    height: 60%;
    width: 95%;
}
.details_div2{
    height: 48%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    margin-top: -5px;
}
.subdetails{
    height: 90%;
    width: 85%;
    border-radius: 20px;
}
.subdetails::-webkit-scrollbar {
    width: 1px;
  }
.details_div2 > input{
    margin-bottom: 5px;
    color:  var(--inputboxcol);
    text-align: center;
    border-radius: 4px;
    font-weight: 0;
    height: 25px;
    width: 150px;
    background-color: var(--inputboxbg);
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: var(--anime);
}
.subdetails > div{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.subdetails > div >a{
    text-decoration: none;
    color: black;
}
.subdetails > div > div,.subdetails > div >a> div{
    background-color: var(--detailsdivbg);
    height: 150px;
    width: 270px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    transition: var(--anime);
}
.humditytitle,.temperaturetitle,.soundtitle,.co2title,.raintitle,.windtitle,.no2title,.atmtitle,.uvtitle,.windirtitle,.airqtitle{
    height: 30%;
    cursor: default;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--detailsdivcolor);
    transition: var(--anime);
}
.icon{
    cursor: pointer;
    height: 25px; 
    width: 25px; 
    background-color: rgb(81, 159, 226); 
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 1s ease-in-out;
}
.humdity,.temperatured,.sound,.co2,.rain,.wind,.no2,.atm,.uvs,.airq{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    cursor: default;
    color: var(--detailsdivcolor);
    transition: var(--anime);
}
.wind,.atm{
    height: 70%;
    flex-direction: column;
}
.level{
    
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.limits{
    color: var(--detailsdivcolor);
    width: 84%;
    height: 50%;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    transition: var(--anime);
}
.limits > div{
    width: 30px;
    display: flex;
    align-items: center;
}
.levelbar{
    width: 80%;
    height: 50%;
    background-color: var(--detailsdivbarbg);
    border-radius: 20px;
    display: flex;
    justify-content: baseline;
    overflow: hidden;
    align-items: center;
    transition: var(--anime);
}
.levelbar > div{
    background-color: rgb(81, 159, 226);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: all 1s ease-in-out;
}
.speedar{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.speedar2{
    height: 30px;
    background-color: var(--speedbarbg);
    width: 136px;
    color: var(--detailsdivcolor);
    text-align: center;
    font-size: 15px;
    transition: var(--anime);
}
.speedarcir,.speedarcir2{
    margin-top: 60px;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 5px solid var(--speedborderblue);
    border-bottom: 5px solid var(--speedborderorg);
    border-right: 5px solid var(--speedborderorg);
    border-top: 5px solid var(--speedborderorg);
    background-position: center;
    background-size: cover;
    color: var(--detailsdivcolor);
    transform: rotate(-45deg);
    transition: all 1s ease-in-out;
    background: radial-gradient(circle, transparent, transparent);
}
.speedarcir.mid,.speedarcir2.mid{
    border-left: 5px solid var(--speedborderblue);
    border-bottom: 5px solid var(--speedborderblue);
    border-right: 5px solid var(--speedborderorg);
}
.speedarcir.high,.speedarcir2.high{
    border-left: 5px solid var(--speedborderblue);
    border-bottom: 5px solid var(--speedborderblue);
    border-right: 5px solid var(--speedborderblue);
}
.seccirlcle,.seccirlcle2{
    transition: all 1s ease-in-out;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    background-position: center;
    background-size: cover;
    background-image:  url(meter.png);
    transform: rotate(45deg);
}
.seccirlcle2{
    background-image:  url(meter2.png);
}
.speedararrowco{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 24px;
    width: 50%;
    margin-left: 0px;
    transform: rotate(0deg);
    transform-origin: right center;
    transition: all 1s ease-in-out;
}
.speed1{
    margin-right: 7px;
    background-color: rgb(81, 159, 226);
    width: 40px;
    height: 6px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.speed2{    
    height: 10px;
    width: 10px;
    background-color: rgb(2, 87, 172);
    border-radius: 50%;
    margin-left: -5px;
}
.speed0{
    position: fixed;
    color: rgb(46, 46, 46);
    font-size: 14px;
    transform: translate(3px,0px);
}
.windpower{
    height: 100%;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.windpowersub{
    height: 97%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column-reverse;
    border: 2px solid rgb(195, 195, 195);
    border-radius: 5px;
    overflow: hidden;
}
.windlevel{
    height: 10%;
    width: 100%;
    border-radius: 3px;
    border: 1px solid var(--barlevelborder);
    box-sizing: border-box;
    transition: var(--anime);
}
.windlevel.green{
    background-color: var(--barlevelgreen);
}
.windlevel.orange{
    background-color: var(--barlevelorange);
}
.windlevel.red{
    background-color: var(--barlevelred);
}

.atmlevel{
    height: 10%;
    width: 100%;
    border-radius: 3px;
    border: 1px solid var(--barlevelborder);
    box-sizing: border-box;
    transition: var(--anime);
}
.atmlevel.green{
    background-color: var(--barlevelgreen);
}
.atmlevel.orange{
    background-color: var(--barlevelorange);
}
.atmlevel.red{
    background-color: var(--barlevelred);
}
.warning{
    animation: blink .5s infinite;
    
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.2;}
    100% { opacity: 1; }
  }
.wibr{
    color: var(--detailsdivcolor) ;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: var(--anime);
}
.dircir{
    height: 115px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--dirwind);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: var(--anime);
    
}
.colorWarning{
    color: red !important;
}
.dirarrow{
    background: linear-gradient(to right, red 50%, white 50%);
    border: 1px solid black;
    width: 58px;
    height: 5px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;   
    transform: rotate(90deg);
    transition: all 1s ease-in-out;
}
.dirdata{
    color: var(--detailsdivcolor);
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: var(--anime);
}
.dirdata table tbody{
    color: var(--detailsdivcolor);
    transition: var(--anime);
}

.valuewind,.valuewind2{
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 15px;
}
.valuewind2{
    font-size: 10px;
}


.viewdetails{
    background-color: var(--detailsbody);
    border-radius: 20px;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transition: var(--anime);
}
.details_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 60%;
    width: 95%;
}
.details_graph{
    width: 100%;
    height: 85%;
    background-color: var(--graph);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: var(--anime);
}
.prbarhead{
    margin-top: 10px;
    height: 30%;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.prbarhead >div> button{
    color:  white;
    background-color: var(--button_color);
    border: none;
    border-radius: 4px;
    font-weight: 0;
    height: 90%;
    transition: var(--anime);
}

.prbarhead >div> button:hover{
    background-color: var(--button_color_hover);
    transition: all .2s ease-in-out;
}
.perbarlabel{
    color: var(--graph_text) !important;
    height: 50%;
    width: 99%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.prgraphtitle{
    height: 30%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding-right: 0px;
}
.deatils_header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color:  var(--detailsdivbg);
    border-radius: 10px;
    margin-top: 10px;
    transition: var(--anime);
}
.back1>a{
    color: var(--graph_text);
    transition: var(--anime);
}
.otherdetails
{
    height: 38%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.otherdetailsheader{
    width: 95%;
    border-radius: 10px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.othersubdic{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    overflow-y: auto;
}
.theprdetailsbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 170px;
    width: 320px;
    background-color: var(--detailsdivbg);
    border-radius: 20px;
    overflow: hidden;
    color: var(--graph_text);
    transition: var(--anime);
}
.perval{
    height: 40px;
    width: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    border-radius: 5px;
    color: var(--graph_text) !important;
    transition: var(--anime);
}
.perbarlabel>div>ion-icon{
    color: var(--graph_text) !important;
    transition: var(--anime);
}

.grdeta{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.colord1{
    background-color: rgb(0, 157, 255);
    height: 30px;
    width: 110px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 4px black;
    transition: all .5s ease-in-out;
}
.colord1.sel{
    transform: scale(1.2);
    animation: hovering 2s ease-in-out infinite;
    animation-delay: .6s;
}
@keyframes hovering{
    0%{
        transform: scale(1.2);
        box-shadow: 2px 2px 4px black;
    }
    50%{
        transform: scale(1.25);
        box-shadow: 1px 1px 2px var(--animationhover);
    }
    100%{
        transform: scale(1.2);
        box-shadow: 2px 2px 4px black;
    }
}
.colord1:hover{
    transform: scale(1.2);
    z-index: 3;
}
#submitBtnpre,#submitBtnnex{
    box-shadow: 2px 2px 4px black;
}
#deviceid{
    border-radius: 5px;
    text-align: center;
    height: 30px;
    background-color: rgb(220, 242, 255);
    border: 2px solid rgb(120, 120, 120);
}
.coloricon{
    color: black;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colotext{
    display: flex;
    align-items: center;
    justify-content: baseline;
    height: 100%;
    width: 77px;
    font-size: 10px;
    color: white;
    cursor: default;
}
.canvasdata2{
    width: 96%; 
    height: 66%;
    margin-bottom: -2px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}


.t2subhead{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.t2body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 80%;
}
.valuesbo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    width: 60%;
}
.bodytitle,.bodybo,.bodyfooter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bodytitle{
    width: 100%;
    height: 20%;
    font-size: 18px;
}
.bodybo{
    width: 100%;
    height: 60%;
    font-size: 50px;
}
.bodyfooter{
    width: 100%;
    height: 20%;
    font-size: 15px;

}
.rigthmov,.leftmov{
    color: var(--graph_text);
    height: 60%;
    width: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.082);
    cursor: pointer;
    transition: var(--anime);
}
.rigthmovtemp,.leftmovtemp{
    height: 60%;
    width: 30%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.082);
    cursor: pointer;
    display: none;
}
.leftmov,.leftmovtemp{border-top-right-radius: 20px;border-bottom-right-radius: 20px;}
.rigthmov,.rigthmovtemp{border-top-left-radius: 20px;border-bottom-left-radius: 20px;}

.validmoveL{
    color: rgb(75,196,243);
    animation: valids1 .2s 1;
    
}
@keyframes valids1 {
    0% { transform: translateX(0px); }
    50% { transform: translateX(-3px);}
    100% { transform: translateX(0px); }
  }
.validmoveR{
    color: rgb(75,196,243);
    animation: valids2 .2s 1;
    
}
@keyframes valids2 {
    0% { transform: translateX(0px); }
    50% { transform: translateX(3px);}
    100% { transform: translateX(0px); }
  }

  .invalidmove{
    color: red;
    animation: invalids .2s 1;
  }
  @keyframes invalids {
    0% { transform: rotate(10deg); }
    50% { transform: rotate(0deg);}
    100% { transform: rotate(-10deg); }
  }

  .limits_details{
    height: 100px;
    width: 95%;
    margin-bottom: 10px;
    margin-top: -20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.limits_data{
    height: 75%;
    width: 230px;
    background-color: var(--detailsdivbg);
    border: 3px solid var(--limitdata_border);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    transition: var(--anime);
}
.limits_data:nth-child(1) .limit_header{
    background-color: var(--limit_color_low);
    transition: var(--anime);
}
.limits_data:nth-child(2) .limit_header{
    background-color: var(--limit_color_good);
    transition: var(--anime);
}
.limits_data:nth-child(3) .limit_header{
    background-color: var(--limit_color_mid);
    transition: var(--anime);
}
.limits_data:nth-child(4) .limit_header{
    background-color: var(--limit_color_high);
    transition: var(--anime);
}

.limit_color{
    height: 100%;
    width: 15%;
}
.limit_body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.limit_header{
    border-bottom: 3px solid white;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: rgb(41, 41, 41);
}
.limit_header>h5,.limit_header>h6{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
}
.limit_header>h5{margin-left: 5px;}
.limit_header>h6{margin-right: 10px;}
.limit_newbody{
    height: 60%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 13px;
    color: var(--graph_text);
    line-height: 17px;
    transition: var(--anime);
}
.limit_newbody>p{
    display: flex;
    align-items: center;
    justify-self: center;
    height: 100%;
}



.theviewmorebutton{
    color: var(--graph_text);
    transition: var(--anime);
}



.textleftout{
    transform: translateX(0px);
    animation: introL .3s ease-in-out 1;
  }
@keyframes introL{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(calc(100% + 300px));
    }
}



.textleftin{
    transform: translateX(0px);
    animation: outtroL .3s ease-in-out 1;
}
@keyframes outtroL{
    0%{
        transform: translateX(calc(0% - 300px));
    }
    100%{
        transform: translateX(0px);
    }
}



.textrigthin{
    transform: translateX(0px);
    animation: introR .3s ease-in-out 1;
}
@keyframes introR{
    0%{
        transform: translateX(calc(100% + 300px));
    }
    100%{
        transform: translateX(0px);
    }
}



.textrigthout{
    transform: translateX(0px);
    animation: outtroR .3s ease-in-out 1;
}
@keyframes outtroR{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(calc(0% - 300px));
    }
}



.loader{
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(20px);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--graph_text);
}
.loader> h2{
    margin: 0;
    margin-bottom: 3px;
}
.loader_sub{
    margin: 0px;
    height: 200px;
    width: 250px;
    background-color: var(--loadcolor);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader_sub > div{
    height: 15px;
    width: 15px;
    border-radius: 10px;
    margin: 3px;
}
.loader_sub > div:nth-child(1){
    background-color: greenyellow;
    animation: loadert .8s ease-in-out infinite;
    animation-delay: 0.1s;
}
.loader_sub > div:nth-child(2){
    background-color: rgb(47, 123, 255);
    animation: loadert .8s ease-in-out infinite;
    animation-delay: 0.2s;
}
.loader_sub > div:nth-child(3){
    background-color: rgb(235, 13, 13);
    animation: loadert .8s ease-in-out infinite;
    animation-delay: 0.3s;
}
.loader_sub > div:nth-child(4){
    background-color: rgb(235, 13, 213);
    animation: loadert .8s ease-in-out infinite;
    animation-delay: 0.4s;
}
.loader_sub > div:nth-child(5){
    background-color: rgb(13, 235, 198);
    animation: loadert .8s ease-in-out infinite;
    animation-delay: 0.5s;
}
.loader_sub > div:nth-child(6){
    background-color: rgb(198, 235, 13);
    animation: loadert .8s ease-in-out infinite;
    animation-delay: 0.6s;
}
.loader_sub > div:nth-child(7){
    background-color: rgb(128, 13, 235);
    animation: loadert .8s ease-in-out infinite;
    animation-delay: 0.7s;
}
.yellowWarning{
    color: yellow;
}
@keyframes loadert{
    0%{
        height: 15px;
    }
    50%{
        height: 100px;
    }
    100%{
        height: 15px;
    }
}

.calender{
    margin-bottom: 5px;
}
.calender_main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.header_calender{
    transition: var(--anime);
    background-color: var(--calender);
    width: 96%;
    height: 5%;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_calender>div{
    display: flex;
    align-items: center;
    justify-content: baseline;
    height: 100%;
    width: 300px;
    color: var(--calender_text);
    transition: var(--anime);
}
.header_calender>*:not(:first-child){
    justify-content: center;
}
.header_calender>*:last-child{
    justify-content: end;
    padding-right: 10px;
}

.header_calender>div>a{
    transition: var(--anime);
    color: var(--calender_text);
}
.header_calender>div>h6{
    font-size: 25px;
    font-weight: 0;
}
.clender_body{
    width: 96%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
}
.calender_div{
    font-size: 30px;
    height: 100px;
    width: 123px;
    overflow: hidden;
    transition: var(--anime);
    background-color: rgba(48, 48, 48, 0.451);
    border: 2px solid var(--calender_text);
    border-radius: 5px;
    margin-top: 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
}
.values_d{
    margin-bottom: 1px;
    height: 25px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_store{
    width: 100%;
    height: 20px;
    border-bottom: 2px solid var(--calender_text);
    background-color: var(--calender_red);
    transition: var(--anime);
}
.days{
    height: 30px;
    color: white;
    background-color: gray;
    width: 124px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
}
.left_cal,.right_cal{
    cursor: pointer;
    height: 100%;
    transition: var(--anime);
    background-color: var(--calender);
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blacktext);
    font-size: 50px;
}
.right_cal{
    border-top-right-radius: 20px;border-bottom-right-radius: 20px;
}
.left_cal{
    border-top-left-radius: 20px;border-bottom-left-radius: 20px;
}
.thedate{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: center;
    margin-top: 10px;
}
.center_cal{
    height: 650px;
    width: 900px;
    display: grid;
    margin-top: -20px;
    padding-left: 0px;
    padding-top: 0px;
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
    grid-gap: -10px; 
}




@media (min-width: 900px){
    .subdetails{
        overflow-y: auto;
    }

}

@media (min-height: 1200px) and (max-width: 1250px) {
    .tmep{
        font-size: 200px;
        margin-top: 100px;
        margin-left: 20px;
    }
    #todaydate,#todaytime{
        font-size: 80px;
    }
    .sun{
        height: 200px;
        width: 200px;
    }
    .details_head{
        height: 4%;
    }
    .details_div1{
        height: 40%;
    }
    .barhead{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .barhead>div{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .barhead>div:first-child{
        font-size: 31px;
        width: 60%;
    }
    .barhead>div:last-child{
        width: 40%;
    }
    .barhead>div>button{
        width: 48%;
        font-size: 20px;
    }
}
@media (max-width: 1250px){
    .canvasdata2{
        padding-top: 100px;
    }
    .main{
        flex-direction: column;
    }
    .temperature{
        height: 20%;
        width: 100%;
    }
    .details{
        width: 100%;
        height: 80%;
    }
    .subdetails{
        width: 100%;
        margin-top: 7px;
    }
    .subdetails>div{
        justify-content: space-around;
        height: 150px;
    }
    .details_div1>.gr{
        width: 96%;
    }
    .base{
        display: none;
    }
    .viewdetails{
        width: 100%;
    }
    .deatils_header{
        width: 100%;
    }
    #deviceid{
        height: 20px;
        width: 140px;
        font-size: 10px;
    }
    .perbarlabel{
        font-size: 10px;
        height: 40%;
        margin-top: 8px;
    }
    .perval{
        height: 30px;
    }
    .grdeta{
        display: grid;
        justify-content: center; 
        align-items: center;
        gap: 30px;
        margin-top: 20px;
        grid-template-rows: repeat(3, 0fr);
        grid-template-columns: repeat(4, 0fr);
    }
    .colord1{
        width: 190px;
        height: 48px;
        border: 1px solid rgb(255, 255, 255);
    }
    .coloricon{
        height: 40px;
        width: 40px;
        border-radius: 3px;
    }
    .colotext{
        font-size: 22px;
        width: 130px;
    }
    .coloricon>ion-icon{
        font-size: 18px;
    }

}
@media (max-width: 900px) {
    .transfer{
        font-size: 10px;
        margin-top: -8px;
        height: 10px;
    }

    #weekorday{
        color:  white;
        background-color: rgb(75,196,243);
        border: none;
        border-radius: 4px;
        font-weight: 0;
        height: 90%;
        width: 100%;
        font-size: 10px;
    }
    .main{
        flex-direction: column;
    }
    .temperature{
        height: 20%;
        width: 100%;
    }
    .sun{
        margin-left: -30px;
        margin-top: -30px;
        box-shadow: 0px 0px 0px  rgb(255, 225, 0);
    }
    .shead{
        margin-top: 10px;
    }
    .base{
        display: none;
    }
    .details{
        width: 100%;
        height: 80%;
    }
    .details_head{
        margin-top: -20px;
    }
    .details_head> div{
        width: auto;
        margin-left: 0px;
        font-size: 14px;
    }
    .details_div1{
        height: 35%;
        margin-top: 10px;
    }
    .details_div1>.gr{
        width: 95%;
    }

    .barhead{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        margin-bottom: 10px;
    }
    .barhead>div>button{
        width: 49%;
        height: 80%;
        font-size: 10px;
        margin: 0;
    }
    .tmep{
        font-size: 50px;
    }
    .barhead>div{
        height: 180%;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .barhead>div:first-child{
        font-size: 11px;
        width: 40%;
    }
    .barhead>div:last-child{
        width: 60%;
    }

    .details{
        width: 100%;
        overflow-y: auto;
    }
    .graphtitle{
        height: 30%;
        width: 95%;
        padding: 0;
    }
    .canvasdata{ 
        height: 60%;
        margin-bottom: 0px;
        width: 95%;
    }
    .barlabel{
        font-size: 10px;
        width: 100%;
        height: 30%;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
    .val{

        height: 100%;
    }
    .val>ion-icon{
        font-size: 15px;
    }
    .details_div2{
        height: 50%;
    }
    .subdetails{
        margin-top: 5px;
        width: 95%;
    }
    .subdetails>div{
        flex-direction: column;
        height: 600px;
        justify-content: space-around;
    }
    .subdetails>div>div{
        height: 30%;
        width: 90%;
    }
    .viewdetails{
        width: 100%;
        height: fit-content;
        overflow-y: auto;
    }
    .deatils_header{
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
    }
    #deviceid{
        height: 20px;
        width: 140px;
        font-size: 10px;
    }
    .perbarlabel{
        font-size: 10px;
        height: 40%;
        margin-top: 8px;
    }
    .perval{
        height: 30px;
    }
    .grdeta{
        display: grid;
        justify-content: center; 
        align-items: center;
        gap: 5px;
        margin-top: 20px;
        grid-template-rows: repeat(3, 0fr);
        grid-template-columns: repeat(4, 0fr);
    }
    .colord1{
        width: 70px;
        height: 17px;
        border: 1px solid rgb(255, 255, 255);
    }
    .coloricon{
        margin-left: 5px;
        height: 15px;
        width: 15px;
        border-radius: 3px;
        margin-right: 3px;
    }
    .colotext{
        font-size: 8px;
        width: 50px;
    }
    .coloricon>ion-icon{
        font-size: 8px;
    }
    .canvasdata2{
        padding-top: 20px;
    }
    .details_block{
        height: auto;
        margin-top: 0px;
    }
    .theprdetailsbox{
        height: 180px;
        width: 100%;
        margin-bottom: 15px;
    }
    .otherdetails{
        height: auto;
        flex-direction: column;
        margin-top: 20px;
    }
    .rigthmov,.leftmov{
        display: none;
    }
    .rigthmovtemp,.leftmovtemp{
        display: flex;
    }
    
    .otherdetailsheader{
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .limits_details{
        flex-direction: column;
        height: auto;
        margin-top: 0px;
    }
    .limits_data{
        margin: 5px;
        height: 90px;
    }
    .themeselect{
        transform: translateY(20px);
        width: 80px;
        height: 100px;
    }
    .thead{
        height: 30px;
    }
   
}

